[2021-09-13 15:01] spoenemann commented on #324
Packaging is done with `vsce` internally. We updated the `vsce` dependency and released a new version 0.2.1 (#326). Does that fix the issue?

[2021-09-13 15:46] amvanbaren commented on #287
Yes, I'll add a GET method that uses query params and keep the POST method as is.

Should I mark the POST method as deprecated in the swagger spec?
This lets adopters know that the GET method is the preferred method.

[2021-09-13 19:51] kuniss commented on #324
@spoenemann, it's hard for me to retry this as I have corrected my build logic (the main reason for the original problem) and this issue is not relevant anymore for my project.

To check whether the problem is solve dwith 0.2.1, I would need to re-package the .vsix file with npx ovsx without publishing it. How can I do this with ovsx?

[2021-09-14 06:26] spoenemann commented on #324
That's currently not possible. I'll close this then, and we can reopen if we encounter it again.

[2021-09-14 06:26] #324 closed

[2021-09-14 06:32] spoenemann commented on #287
Yes, but I'd update the main consumer of that endpoint, Theia, first (https://github.com/eclipse-theia/theia/pull/8570).

[2021-09-14 09:42] #287 closed

[2021-09-14 10:48] amvanbaren commented on #285
Yes, there's a mismatch between the entity and its repository:
[https://github.com/eclipse/openvsx/blob/2003c43e9b7cca9e23b64c8b86f59bde94f15998/server/src/main/java/org/eclipse/openvsx/entities/ExtensionVersion.java#L96-L102](https://github.com/eclipse/openvsx/blob/2003c43e9b7cca9e23b64c8b86f59bde94f15998/server/src/main/java/org/eclipse/openvsx/entities/ExtensionVersion.java#L96-L102)

[https://

[2021-09-15 09:35] amvanbaren commented on #280
@brianking This relates to caching database query results (and other heavy computations) internally in the server using Spring Caching. My bad, I misunderstood the issue at first.

Could this be a good opportunity to look for database related performance issues in general?

[2021-09-15 09:47] spoenemann commented on #280
Yes, I'm sure there are plenty of code parts that can be optimized w.r.t. DB access performance. Currently both the server and DB have super high CPU load in production (especially if we decrease LB caching), which indicates that we send too many and too complex DB queries.

This was my first project with Spring and JPA/Hibernate. I must say I would never start a project with JPA again, but evalua

[2021-09-15 10:07] brianking commented on #280
@amvanbaren what Miro said! However, a refactoring might be too large a time commitment at this point. Feel free to try some optimizations, however, and to recommend approaches moving forward.

[2021-09-16 12:04] spoenemann commented on #306
Seems to work now, see https://github.com/EclipseFdn/open-vsx.org/issues/633

[2021-09-16 12:04] #306 closed

[2021-09-17 05:17] #285 closed

[2021-09-17 07:45] #266 closed

[2021-09-17 18:52] HuJK opened #335 "[Feature request] Divisions system like Debian."
There is a lot of good extensions such as [vscode-cpptools](https://github.com/microsoft/vscode-cpptools), but openvsx accept open source project only so that it can never be add to openvsx.

I think we can learn from debian registry, introduce the divisions system from it to make our registry more inclusive.

Debian has these divisions:
1. `main`: All free software that follows the DFSG (Debian F

[2021-09-20 14:39] benoitf opened #336 "Add support for specific platforms"
Hello, based on https://github.com/microsoft/vscode/issues/23251#issuecomment-918989339

it seems OpenVSX will have to handle platform specific extensions

like

[code]
and then expose extensions for different arches.

[2021-09-20 17:19] cccs-tom opened #337 "Support for additional Identity/Login Providers?"
My team wishes to use one or more IdP that are not GitHub or Eclipse. Our immediate use case is for Azure AD, but we will likely want to use an on-prem IdP (likely Keycloak) at some point in the future as well.

We would be looking (for the time being) at making it possible to change the IdP to something other than GitHub, but *not* addign support for multiple IdP. Is this something that you would

[2021-09-21 10:19] amvanbaren commented on #337
+1 for Keycloak. It would be nice to decouple user management from the registry.

[2021-09-21 10:23] brianking commented on #285
I confirm that removal of extensions is working again, primary removal at https://github.com/EclipseFdn/open-vsx.org/issues/444.

[2021-09-21 13:25] felipecrs opened #338 "Contributor cannot visualize the namespace in UI"
I'm a contributor of `timonwong` namespace. However, it does not show up in the namespaces list:

![image](https://user-images.githubusercontent.com/29582865/134178630-0fb08e35-856d-425e-bac0-eb8e03d80f6e.png)

But when @timonwong changes my role to Owner, then it shows up.

I already verified that I have the proper role, because I tried to publish an extension on his namespace.

By the way, this

[2021-09-22 06:04] spoenemann commented on #335
Thanks for kicking off this discussion! Note that the public instance running at open-vsx.org is maintained by the Eclipse Foundation at https://github.com/EclipseFdn/open-vsx.org/issues, while this repository is for the reusable source code of Open VSX. I cannot transfer the issue directly, so could you please open a new one?

That's not true. The auto-publishing script at https://github.com/open

[2021-09-22 06:49] spoenemann commented on #337
Yes, support for more authentication providers is definitely in the scope of this project, and contributions are welcome!

There is one challenge, though: we currently have a home-grown login handling because we need to support both GitHub and Eclipse OAuth login for the public instance running at open-vsx.org. If it's possible, I would be ok with a solution that keeps the current implementation f

[2021-09-22 07:13] spoenemann commented on #338
I think it works as intended: only owners can see and modify the list of members. A contributor can publish, but not more.

[2021-09-22 13:47] cccs-tom commented on #337
@spoenemann Sure, we can definitely work with that! Thanks.

[2021-09-22 14:10] HuJK commented on #335
Yes, but before adding `contrib`/`non-free` divisions to open-vsx.org, I think the "division system" is required, right?

Do we have a system like that?
If I have a extension A, I can upload the stable version to `stable` , and upload beta version to `test`.
And there is an another extension B don't in `test` division.

 I can enable `stable` and `test` at same time, so that I can get beta version

[2021-09-22 17:02] felipecrs commented on #338
Then how do contributors know they are contributors? I would suggest to show the same UI, but in read-only mode and with a few tweaks. The list of other contributors may be hidden, but there is no pointing on hiding the list of extensions, I guess.

[2021-09-23 11:02] spoenemann commented on #335
There is a notion of "version aliases", which are currently shown as `latest` and `preview` in the UI.

Example:
 * [dendron latest](https://open-vsx.org/extension/dendron/dendron)
 * [dendron preview](https://open-vsx.org/extension/dendron/dendron/preview)

This is controlled via the Boolean `preview` flag in the package.json of a published extension (see [Extension Manifest documentation](https:

[2021-09-24 09:40] Mazwak opened #341 "Hide non-free extensions"
Hello

Related to #335, it would be nice to be able to hide non-free extensions when searching, web or ide.

Or at least, make it visually obvious if the extension is free or not.

[2021-09-24 11:46] #317 closed

[2021-09-28 08:29] amvanbaren commented on #280
Hibernate fetches @ManyToOne and @OneToOne mappings eagerly.
The effect is most pronounced for ExtensionVersion queries. In this case the Extension, Namespace, PersonalAccessToken and UserData are also loaded.

Changing `@ManyToOne` to `@ManyToOne(fetch=FetchType.LAZY)` or `@OneToOne` to `@OneToOne(fetch=FetchType.LAZY)` or adding `@Basic(fetch=FetchType.LAZY)` to enable lazy loading has no effect

[2021-09-28 16:09] phaumer commented on #244
I think some of the issue I saw were fixed already: such as looking for publisher first or tags. When I was searching for IBM then IBM's own extensions did not show up first. That is fixed now. Also searching for tags such as Zowe works now.

I am not sure in what order things appear within the categories is then at the moment. I think one key issue is that the install counter is broken and you ca

[2021-09-28 16:20] phaumer commented on #244
Yes, sounds good if the counter is already part of the sorting.

[2021-09-28 17:27] wgalanciak opened #343 "Upload fails with an Internal Server Error"
Since Thursday, September 22nd, we have not been able to upload a new version of our extension (https://open-vsx.org/extension/genuitecllc/codetogether) to the registry.

We have tried several times over the last few days but still no luck. We also tried to create a new token but the result is the same.

Here is the whole output from the command execution:

❌  Internal Server Error
See the documen

[2021-09-29 07:15] amvanbaren commented on #235
@brianking What stats about contributors (publishers / extension authors) + companies do you want to include in the report?

Download, user and namespace related data is stored without date and time info.
Do you want me to add date and time info to the data model?

[2021-09-29 08:02] spoenemann commented on #235
I think it depends on what "real-time" means. For a monthly report, you could leave the data model as it is and just compute the difference of the stats to the previous month. That could even happen outside of the server, meaning that you'd just offer an export of the data.

[2021-09-29 08:06] spoenemann commented on #343
@mbarbero could you look into the logs? Do you need a more precise timestamp?

[2021-09-29 09:23] mbarbero commented on #343
Yes, more precise timestamp will be required here. Thanks!

[2021-09-29 09:42] spoenemann commented on #343
It has a `--debug` flag that you could try @wgalanciak, but I don't know whether that will provide any relevant details.

[2021-09-29 09:47] spoenemann commented on #341
What do you mean by "free"?

Section 3.e of the [Publisher Agreement](https://open-vsx.org/publisher-agreement-v1.0#section-3-submission%2C-approval%2C-and-publication-of-offerings.) says

As I understand this, only free-of-charge extensions are allowed to be published.

[2021-09-29 11:06] Mazwak commented on #341
Sorry, I meant "Free software".

I’m not against proprietary extension. I just don’t want to use them.

Example, searching "remote" : https://open-vsx.org/?search=remote

I can’t filter out non-free (software) extensions. I have to check every extensions.

[2021-09-29 11:12] spoenemann commented on #341
Ok, but the boundary is quite unclear then. Some would regard only GPL-licensed extensions as free. Others would accept [OSI-approved licenses](https://opensource.org/licenses). And then there are licenses that give you lots of freedom, but may restrict in certain aspects. Where to draw the line?

[2021-09-29 11:50] amvanbaren commented on #235
Yes, a scheduled job can be run every month that gets the absolute numbers and calculate the numbers relative to the previous month. Month can be replaced with any period (hour, day, week).

[2021-09-29 12:05] spoenemann commented on #235
Ok. Would you schedule that internally (with Spring) or externally (by calling an API endpoint)? The latter could be feasible if we require an access token of an admin user, so the endpoint would be in `AdminAPI`.

[2021-09-29 12:15] amvanbaren commented on #235
I'd schedule the job internally, store the data in the db and make it available through an endpoint that requires the admin role.

[2021-09-29 12:28] Mazwak commented on #341
I don’t know many lists, only DFSG or OSI. Anything would suit me.

It could be a flag, filled by publisher, on a trust basis.

In #435, you say auto-publish is based on open-source, so it could also flag free/non-free from autopublish.

[2021-09-29 13:25] brianking commented on #235
What would you suggest. I'm thinking:

- # of publishers
- # of publishers with 1, 2, 3 ... extensions listed
- # of publishers that have claimed their namespace
- # of extensions with each star rating
- average # of reviews per extension

I don't think there is a way to collect company information vs individual, because we can't distinguish this based on their account. Correct me if I am wrong.

[2021-09-29 15:20] wgalanciak commented on #343
RIght, `--debug` flag does not tell us more.

Here is a full response with a timestamp:
[code]

[2021-09-30 06:15] benoitf opened #344 "Database search alternative to ElasticSearch"
### Is your task related to a problem? Please describe

OpenVSX provides search feature through ElasticSearch which is wonderful for all stuff that it is bringing.
But in case of few extensions stored in the registry, it might be too much and it may be nice to have a 'database' implementation + cache.
It may consume of course more cpu, scale less, etc but it would be a deployment choice.

### Desc

[2021-09-30 11:04] spoenemann commented on #341
Ok, keeping this as a feature request.

[2021-09-30 13:53] corneliusludmann opened #345 "Gracefully handle `pageSize = 0` (to be compatible with VSCode and in sync with VS Marketplace)"
I saw that we get a 500 response from open-vsx.org for every Gitpod workspace start and found that VSCode calls the extensions registry with `pageSize: 0` ([here](https://github.com/microsoft/vscode/blob/ac87555c1865cee258329eebb1a69f3ad5f7b666/src/vs/workbench/services/userData/browser/userDataInit.ts#L384) where `uuids` and `names` were both empty). OpenVSX returns with an Internal Server Error

[2021-09-30 13:58] spoenemann commented on #345
A default page size sounds good to me.

[2021-09-30 16:10] toddewilliams commented on #343
Could the issue possibly be an enormous load spike on the [Open VSX Registry](open-vsx.org) due to the release of [OpenVSCode Server](https://www.techrepublic.com/article/gitpod-releases-browser-based-visual-studio-code-to-get-around-microsoft/)? I believe they hook to the registry in all their instances by default.

Or have you determined that it's not load related and localized to just this upda

[2021-09-30 21:02] spoenemann commented on #343
@mbarbero could you look up the logs at the timestamp given above?

[2021-10-01 07:56] benoitf commented on #344
PR Opened: https://github.com/eclipse/openvsx/pull/346

[2021-10-01 07:56] benoitf commented on #210
Should be fixed by https://github.com/eclipse/openvsx/pull/347

[2021-10-01 08:12] mbarbero commented on #343
@toddewilliams, it's unlikely. There has been dozen of new versions being published during the week, and we only got this report.

@spoenemann, @wgalanciak application logs from Sept 29th are gone. Would you mind re-trying and giving me a new response with timestamp?  Thanks!

[2021-10-01 16:56] #244 closed

[2021-10-04 12:42] amvanbaren commented on #280
I'm currently working on implementing projections/dtos to speed up the `/vscode/gallery/extensionquery` endpoint.
https://github.com/eclipse/openvsx/blob/d72fb0fe5361c0775f3b6fbc13bbbadf0fe9ff79/server/src/main/java/org/eclipse/openvsx/adapter/VSCodeAdapter.java#L312-L314
Is it possible to create public ids before the extensionquery endpoint is called?

[2021-10-04 15:38] amvanbaren commented on #235
@brianking when is a publisher considered the claimer of a namespace?

[2021-10-04 16:00] brianking commented on #235
See https://github.com/eclipse/openvsx/wiki/Namespace-Access#how-to-claim-a-namespace

[2021-10-05 15:55] Mazwak commented on #341
Thanks

[2021-10-05 17:41] wgalanciak commented on #343
Sure, here it is:
[code]

[2021-10-06 08:20] mbarbero commented on #345
The production logs are just plague with

[code]

and this will likely fix it. Thanks @corneliusludmann

[2021-10-06 08:26] mbarbero commented on #343
openvsx logs are very verbose and plagued with some error from https://github.com/eclipse/openvsx/issues/345. It means logs from yesterday are already almost already gone and I cannot find anything at the given timestamp.

It seems that we're not in the same timezone. Could we schedule the test so that I can have a look at the logs in a timely manner? I'm in CEST. Thanks!

[2021-10-08 15:57] wgalanciak commented on #343
Please let me know if 9:00 am CEST next Monday (11.10) is fine for you.

[2021-10-08 15:58] mbarbero commented on #343
LGTM. Thanks!

[2021-10-11 21:39] GitMensch commented on #336
Some more information:

The vsce feature was included in vsce 1.99.+ and

More details found at https://code.visualstudio.com/api/working-with-extensions/publishing-extension#platformspecific-extensions and of course - for the client side - https://github.com/microsoft/vscode-vsce.

[2021-10-14 07:33] amvanbaren opened #351 "Admin Deployment Statistics Dashboard"
Create a deployment statistics dashboard in the admin section.
The dashboard displays charts of deployment statistics and offers the option to download the raw CSV data.
Issue #235 outlines the data that is made available through the server API.

Some minor changes to the server endpoint:
- Use Spring authentication instead of access tokens with admin privileges. You can look at other admin endpoi

[2021-10-15 06:14] spoenemann commented on #280
Yes, we could create them when an extension is published instead of when it's accessed in extensionquery results.

[2021-10-19 08:05] akosyakov commented on #330
I think it still does not work.

[2021-10-19 08:49] benoitf commented on #330
to close it, these TODO need to be implemented
https://github.com/jeanp413/openvsx/blob/10c6b2e045371f3462002dc14f3741a6757bd1f4/server/src/main/java/org/eclipse/openvsx/adapter/VSCodeAdapter.java#L323-L326

[2021-10-19 16:55] ewanharris opened #352 "Transferring ownership of an extension"
Apologies if this is better suited for https://github.com/EclipseFdn/open-vsx.org, I wasn't too sure where it should land.

We are looking to (in the future) handoff our extension to a different publish and would like this to be completely clean (i.e. no lingering references like in the extension id).

Is it possible to do this and keep the existing extension on openvsx or would the extension have

[2021-10-20 09:51] akosyakov opened #353 "openvsx is slow"
Looks like https://open-vsx.org seems slow at the time of this issue. @mbarbero @eclipsewebmaster
Could you check please and update https://www.eclipsestatus.io/ accordingly? Thank you!

[2021-10-20 11:34] #353 closed

[2021-10-21 12:14] #344 closed

[2021-10-21 12:26] spoenemann commented on #343
Oh I see. the difference in the `Tags` field is probably caused by this change?
https://github.com/eclipse/openvsx/pull/326/files#diff-1b6d55d467cf4e548b5a15698c7ceb4db72404cd83fd4ee53324964972a4ee63

Maybe we should revert the fetching of tags to the previous version:
[code]
and additionally increase the column size to be sure?

[2021-10-21 13:44] amvanbaren commented on #343
Good point. I'll query the ms marketplace to see what tags it returns.

[2021-10-26 10:21] amvanbaren opened #356 "Optimize performance for /api/-/query endpoints"
- Ensure endpoint is read-only.
- Reduce the amount of database queries.
- Use data transfer objects instead of managed entities.

[2021-11-01 13:00] amvanbaren commented on #343
@TimWebb I've created PR [#722](https://github.com/EclipseFdn/open-vsx.org/pull/722). Once it works on staging, I'll create a PR to push it to production.

[2021-11-02 09:40] amvanbaren opened #358 "Use jOOQ instead of DTOs to improve maintainability"
The queries in the DTO repositories are verbose string literals. To improve maintainability use [jOOQ](https://www.jooq.org/) instead.

- Add `spring-boot-starter-jooq` to the server
- Add [gradle-jooq-plugin](https://github.com/etiennestuder/gradle-jooq-plugin) to the server and configure it.
- Use jOOQ for `ExtensionDTORepository.java`
- Use jOOQ for `ExtensionVersionDTORepository.java`
- Use jO

[2021-11-05 08:15] a5hk opened #360 "UI issue when displaying code in extension overview page"
See the screenshot below taken on a mobile device:

![Screenshot_Chrome](https://user-images.githubusercontent.com/5412540/140477666-2cd7338f-8ca8-499d-8ff1-bc7235e1fc24.jpg)

This also happens on desktop if the line length is long enough:

![openvsx](https://user-images.githubusercontent.com/5412540/140479035-558bbf0d-d420-4e78-b56f-16a8def302ea.gif)

[2021-11-08 09:35] #356 closed

[2021-11-08 12:46] yashpalgoyal1304 commented on #58
fdroid also doesnt support unpublishing. i will be against the option of unpublishing. in the case a wrong version got published, there are procedures for that as someone said above.

Refer: https://f-droid.org/en/docs/FAQ_-_App_Developers/#how-do-i-get-my-app-removed

![image](https://user-images.githubusercontent.com/19423063/140744368-817c2e1d-7753-48e3-9858-6c87fa0ff188.png)

[2021-11-08 13:08] yashpalgoyal1304 opened #363 "Open in Client"
Migrated 🍬 from https://github.com/open-vsx/publish-extensions/issues/484
`^f` : VSCodium --> Client {sorry, dont know regex and its notations yet 😅😄}

### Summary
Ability to open in a client, an extension's page directly from its link

### Steps to try
1. To open an extension in client, whose id/link is available: [example](https://open-vsx.org/extension/darkriszty/markdown-table-prettify)
2. Cur

[2021-11-08 13:12] yashpalgoyal1304 commented on #58
hmm? f-droid too has catalog of apps in its index. i dont think i understand what u wanted to say here.

yep, i agree with that. like i said above, "archiving" thing above in case of f-droid is much similar to this

oh, so these are 2 different things @@@@ - wasnt aware of that

[2021-11-08 13:19] GitMensch commented on #58
Yes, it is similar with F-Droid (the possibly only instance) and fdroidserver (there are not clients for publishing in this case because there is a _single_ metadata repository for the server).

Open VSX is also one of the ways to "locally" host vscode compatible extensions, which is sometimes important because of "lab/closed environments" without any internet access; while this theoretically shou

[2021-11-08 13:30] IzzySoft commented on #58
For the part I was addressed by @yashpalgoyal1304 – at F-Droid apps do not get "removed", just "moved", to the archive repo. Cases where an app is entirely removed are absolutely rare – and I cannot remember a single occasion a once listed app was really "deleted".

[2021-11-08 13:35] IzzySoft commented on #58
@GitMensch "F-Droid (the possibly only instance)" – ahem… There are many [3rd-party repositories](https://android.izzysoft.de/articles/named/list-of-fdroid-repos) you could call "instances" (e.g. [mine](https://apt.izzysoft.de/fdroid) as the largest such, featuring 750+ apps currently). Each repository has its own set of rules. From my repo e.g. apps indeed **do** get removed – e.g. when they fina

[2021-11-08 13:48] GitMensch commented on #58
Thanks for the info, this part was NEWS to me! Cool - thanks for your contribution to free software, and for letting me know about that.

[2021-11-08 14:57] IzzySoft commented on #58
Gladly! Then let me also add that there are multiple alternative [F-Droid client apps](https://android.izzysoft.de/applists/category/named/apps_markets#group_1181) as well, some coming with quite a few 3rd-party repositories pre-configured so users just need to toggle them on (or off), making more than 4k apps available at their fingertips. Without the need of accounts, no walled-gardens – enjoy t

[2021-11-09 11:45] #283 closed

[2021-11-10 09:28] #360 closed

[2021-11-10 09:30] spoenemann commented on #360
Deployment of the fix requires an update of the webui package:
https://github.com/EclipseFdn/open-vsx.org/blob/3184228f3cadca72e5902d89905735dc7526c4c5/website/package.json#L9

If that's interesting to anyone, I can publish a new `next` version.

[2021-11-10 10:20] #358 closed

[2021-11-11 09:49] #235 closed

[2021-11-18 19:09] zardoy opened #367 "[site feature] Display extension size"
Hi! I think it would be useful to display install size in WebUI. I always wanted to have something similar to https://packagephobia.com/. I saw thousand of times developers bundling huge `.map` files or even whole `node_modules`.

I hope authors in this case will pay more attention to the bundling process. I even saw an extension that had ~110MB `.vsix` size and more than 200MB on disk. This exten

[2021-11-19 11:49] brianking commented on #283
@amvanbaren How often are the counts updated on open-vsx.org? For example this one was published 7 days ago and still has 0 downloads:
https://open-vsx.org/extension/adarshpandeyin/search-github-users-extension

[2021-11-19 11:52] amvanbaren commented on #283
@brianking The download count service runs once an hour. @mbarbero Are the download counts cached?

[2021-11-19 11:58] mbarbero commented on #283
They are cached just like the page, for a couple of minutes. To double check, I ran a query against db and:

[code]

[2021-11-19 12:05] mbarbero commented on #283
Also, I see a couple of

[code]

[2021-11-19 12:16] amvanbaren commented on #283
@mbarbero the 412 status could indicate a 'mid-air collision', source: [https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/412](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/412) Maybe you can find more detailed info about the 412 status on the Azure portal, searching by requestId.

[2021-11-19 13:01] idleberg opened #368 "Support for pnpm"
`ovsx publish` does not explicitly support the [pnpm](https://pnpm.io/) package manager. To my surprise, using the `--yarn` flag will publish the extension just fine.

Questions:

1. is using the `--yarn` flag for packages with  pnpm lockfiles intentional (or coincidence?)
2. should the flag be renamed to something more generic?
3. should there be a second flag for pnpm in a future release?
4. wil

[2021-11-20 14:32] amvanbaren opened #369 "Fix Admin Statistics"
Making this change fixes https://github.com/EclipseFdn/open-vsx.org/issues/752

[2021-11-20 15:04] amvanbaren commented on #369
@spoenemann In the AdminService sometimes entities are being deactivated, while in other cases the entity is deleted.
When is an entity deactivated vs deleted?

https://github.com/eclipse/openvsx/blob/master/server/src/main/java/org/eclipse/openvsx/AdminService.java#L139-L145

https://github.com/eclipse/openvsx/blob/master/server/src/main/java/org/eclipse/openvsx/AdminService.java#L252-L257

[2021-11-22 06:53] spoenemann commented on #368
We just pass that flag to `vsce`, which is used behind the scenes to package extensions. If `vsce` adds a dedicated flag for pnpm or changes the `--yarn` flag, we should adapt `ovsx` as well.

[2021-11-22 07:52] spoenemann opened #371 "Quality: Write tests for DB queries"
Most of our current tests mock away the DB because they're focused on the application logic and external API. We have seen changes breaking some DB queries without being caught by tests from time to time. We should improve the situation by adding tests that run the DB queries defined in our entity / DTO repositories and assert no DB error, just to ensure that the queries are consistent with the sc

[2021-11-22 10:44] #369 closed

[2021-11-22 14:24] idleberg commented on #368
Related but unresolved `vsce` issue:

https://github.com/microsoft/vscode-vsce/issues/421

[2021-11-23 03:01] pmahend1 commented on #283
Instead of cache is it possible to add an onClick event whenever user clicks on download?
Does it break the privacy policy ?

[2021-11-23 08:58] mbarbero opened #372 "javax.persistence.NonUniqueResultException: query did not return a unique result: 3"
In https://open-vsx.org production logs, I see a lot of ERROR that the query did not return a unique result. It's thrown from `org.eclipse.openvsx.repositories.RepositoryService.findVersion`. See full logs below.

Is the DB corrupted or is it a bug in the code?

[code]

[2021-11-23 12:34] mbarbero opened #373 "Internal server error while removing extension as admin"
Received as an attempt to fix https://github.com/EclipseFdn/open-vsx.org/issues/752

Logs from production instance:

[code]

[2021-11-23 19:03] spoenemann commented on #283
Most downloads happen through clients like Theia and VS Code, so we can't rely on the website UI.

[2021-11-23 22:53] WebFreak001 opened #374 "Internal server error with webfreak/code-d"
the last 2 uploads of my extension caused the openvsx page to fail with error code 500 while loading: https://open-vsx.org/extension/webfreak/code-d

I thought it would have been a temporary error that it's still processing the upload, but it seems that it is permanent as it already was broken like this for 3 days now, breaking extension updates for clients.

[2021-11-24 16:35] matkoniecz opened #376 "openvsx extension missing included npm_modules"
PeterWone/vsc-print extensions fails to install in VSCodium what is caused by corruption of extension package by openvsx

I am not the first affected person, see https://github.com/PeterWone/vsc-print/issues/116

I reported it as VScodium bug but appears to be openvsx bug, see https://github.com/VSCodium/vscodium/issues/928

entire `node_modules` was missing.

It is also missing from VSIX file at

[2021-11-24 22:07] PeterWone commented on #376
In respect of @matkoniecz speculation that [.vscodeignore#L23 ](https://github.com/PeterWone/vsc-print/blob/master/.vscodeignore#L23) is not parsed - Microsoft briefly changed the way this file was parsed to make it consistent with other things. I raised [an issue about problems this caused](https://github.com/microsoft/vscode-vsce/issues/587) and the outcome was they reverted the change.

It is p

[2021-11-25 03:59] PeterWone opened #377 "Either update your copy or remove it"
Your website is pushing a [version of my extension](https://open-vsx.org/extension/pdconsec/vscode-print) that is both obsolete and broken because it's missing dependencies in the repackaging that you took it upon yourselves to do.

This broken version is attributed to me even though it's YOUR fault and is damaging the reputation of my product.

A package without the dependencies is different from

[2021-11-25 07:19] spoenemann commented on #376
That extension is published from here: https://github.com/open-vsx/publish-extensions

Please create an issue at that repository (I can't transfer it). This repository is for the application code of Open VSX, not the public instance running at open-vsx.org (or the extensions published to it).

[2021-11-25 07:19] #376 closed

[2021-11-25 07:28] akosyakov commented on #377
Hi, @PeterWone sorry for the trouble.

Unfortunately, we cannot make use of vsix file from MS marketplace, since it will be violation of its [terms of use](https://cdn.vsassets.io/v/M190_20210811.1/_content/Microsoft-Visual-Studio-Marketplace-Terms-of-Use.pdf). That's why  vsix file is generated from sources.

Ideally we would take down the currently broken extension from automatic publishing by t

[2021-11-25 07:36] PeterWone commented on #376
ok

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Miro ***@***.***>
Sent: Thursday, 25 November 2021 5:20 PM
To: ***@***.***>
Cc: Peter ***@***.***>; ***@***.***>
Subject: Re: [eclipse/openvsx] openvsx extension missing included npm_modules (Issue #376)

That extension is published from here: https://github.com/open-vsx/publish-extensions

Please create an issue

[2021-11-25 07:41] PeterWone commented on #377
Thank you for responding.

For the interim please take down the broken VSIX.

I have been meaning to set up CICD to the MS website. While I am doing this I will also look at pushing updates to openvsx using the method you mention.

[2021-11-25 07:53] akosyakov commented on #377
I removed the extensions from publishing script: https://github.com/open-vsx/publish-extensions/commit/160ba893c9c620a12b0c816cb9ab14dfd8efc541

@brianking @spoenemann Can you take down [the extension](https://open-vsx.org/extension/pdconsec/vscode-print) from OpenVSX please.

@PeterWone I am going to open an issue in your repo to publish to OpenVSX with some pointers and also to clarify for users

[2021-11-25 08:01] spoenemann commented on #377
All versions, or specific ones?
<img width="102" alt="Screenshot 2021-11-25 at 09 01 02" src="https://user-images.githubusercontent.com/4067210/143402356-bb47007d-7e61-4efc-950f-a838b45b78d7.png">

[2021-11-25 08:03] akosyakov commented on #377
I think the entire extension.

[2021-11-25 08:04] PeterWone commented on #377
I haven’t tested them all so I’m going to say ALL please. Next release is likely to be 1.0 so that’s a good place to start afresh.

[2021-11-25 08:06] spoenemann commented on #377
Done, but next time please open an issue at https://github.com/EclipseFdn/open-vsx.org for deletion of extensions or anything else regarding the public instance at open-vsx.org

[2021-11-25 08:06] #377 closed

[2021-11-25 08:24] akosyakov commented on #377
The issue on the extension to publish to OpenVSX: https://github.com/PeterWone/vsc-print/issues/120

[2021-11-25 08:49] matkoniecz commented on #376
And fourth issue about this problem is now at https://github.com/open-vsx/publish-extensions/issues/512

[2021-11-25 10:24] brianking commented on #373
If I read correctly https://github.com/EclipseFdn/open-vsx.org/issues/752#issuecomment-977616076, the file is deleted but the entry remains in the database. What do you think @spoenemann @amvanbaren ?

[2021-11-25 13:45] amvanbaren commented on #373
The file is deleted and the FileResource entry is also deleted in the database. This caused the foreign key constraint error on Download.

The stacktrace indicates that the server is trying to delete a file in Azure Blob Storage, but the file already has been deleted or didn't exist in the first place.

[2021-11-25 14:30] brianking commented on #373
The fact that the version still shows up in the admin interface means it is still existing as an entry somewhere.

[2021-11-25 15:11] amvanbaren commented on #373
https://github.com/eclipse/openvsx/blob/872559daf8f7be90362596fb228d7022b363ab9c/server/src/main/java/org/eclipse/openvsx/AdminService.java#L139-L145
Files are removed in Azure Blob Storage first (line 141), then the FileResource entry is deleted in the database (line 142).
Deleting one of the FileResource entries caused a foreign key constraint error, which caused the whole database transaction t

[2021-11-26 09:51] akosyakov commented on #373
Is it the cause for https://github.com/eclipse/openvsx/issues/374 as well?

[2021-11-26 09:51] akosyakov commented on #374
@mbarbero Could we find logs for internal server error as well?

[2021-11-26 09:53] akosyakov commented on #373
We don't need to recover right. Would be fixing code that transaction does revert but removes the version enough?

[2021-11-26 10:12] mbarbero commented on #374
No, logs from days ago are gone.

@WebFreak001 Please let us know when you can do another test (in CET working hours please).

[2021-11-26 10:39] WebFreak001 commented on #374
the internal server error happens every time you access the page - I did not get any internal server errors while uploading, so I would guess that a log entry should happen on every page access.

[2021-11-26 10:42] WebFreak001 commented on #374
actually this was the first time I published to openvsx from my github actions CI and there was a bug that it ran the release 3 times in parallel, so I cancelled 2 of the runs:

https://github.com/Pure-D/code-d/runs/4274388176?check_suite_focus=true
https://github.com/Pure-D/code-d/runs/4274378952?check_suite_focus=true
https://github.com/Pure-D/code-d/runs/4274378953?check_suite_focus=true

It ma

[2021-11-26 10:46] amvanbaren commented on #373
I thought this exception was only thrown when unpublishing Angular.ng-template (https://github.com/EclipseFdn/open-vsx.org/issues/752). Is this exception thrown for every extension version you try to unpublish?

[2021-11-26 10:54] akosyakov commented on #373
I meant if we are trying to remove file from storage but it is not there already then we should not fail but continue?
btw can remove files from storage can be performed in the transaction as well?

[2021-11-26 10:56] akosyakov commented on #374
So removing the last version would be an option? but I guess it will be blocked by https://github.com/eclipse/openvsx/issues/373

[2021-11-26 10:58] WebFreak001 commented on #374
if removing the last version fixes it I'm for it, but in that last CI run it did upload it successfully (latest version) and there is still an internal server error, so I don't know if it's actually something with the extension vsix contents.

[2021-11-26 11:03] mbarbero commented on #374
When accessing https://open-vsx.org/extension/webfreak/code-d, I see the same error as in #372.

[2021-11-26 11:06] amvanbaren commented on #373
Sure, you can catch the 404 and move on.

Transactions relate to interactions with the database. You might be able to assign a custom rollback handler. This rollback handler can then restore the already deleted files in Azure Blob Storage.

[2021-11-26 11:41] WebFreak001 commented on #374
might have happened because of the 3x parallel uploads that happened because in github actions `on: [release]` will actually trigger 3 separate runs for published, released, created (don't ask me what the difference is) causing 3 parallel uploads at the same time

code change: https://github.com/Pure-D/code-d/commit/495959d574abdef27a207451f9316788a98b3af8

[2021-11-26 11:53] brianking commented on #374
In the admin interface, I see the following versions. Should I try to remove the latest?

<img width="423" alt="Screenshot 2021-11-26 at 11 52 15" src="https://user-images.githubusercontent.com/114116/143576969-989c739b-aade-4b19-9a20-c0936dd52d72.png">

[2021-11-26 12:23] WebFreak001 commented on #374
0.23.1 and 0.23.0 will probably be the broken versions

[2021-11-26 13:04] brianking commented on #374
I tried removing (last 2 versions), and yes have run into the same issue.

[2021-11-29 17:05] eclipsewebmaster opened #379 "open-vsx server consumes lots of bandwidth (and cpu time)"
The open-vsx server consumes a lot of bandwidth -- a daily average of about 50Mbps -- and that excludes transfers, as those are provided by Azure. This is equal to, or most times higher than, www.eclipse.org, which even serves the "setups.zip" file used by the Eclipse IDE to check for updates. I'm just not convinved the open-vsx site is really that busy.

I see two types of "expensive" requests:
h

[2021-11-30 11:20] daiyam commented on #363
The url used to install the example extension on Visual Studio Marketplace is : `vscode:extension/darkriszty.markdown-table-prettify`. (`vscode:` is scheme associated with Visual Studio Code app)

While OpenVSX would need to support several editors, I'm thinking, the best solution would be to add a select input in footer so the user can select his/her preferred editor. And then, build the urls for

[2021-11-30 11:49] yashpalgoyal1304 commented on #363
thanks a lot for sharing the url syntax for extensions. but i dont think that fragmentation should be supported on the site as per the following [comment](https://github.com/open-vsx/publish-extensions/issues/484#issuecomment-963102764) by @akosyakov

[2021-11-30 11:55] yashpalgoyal1304 commented on #363
oops, ignore my prev comment, missed some point of the preceding comment.

[2021-12-01 18:30] brianking opened #380 "Download Count Broken"
The download count was recently fixed in PR #348 for issue #283. However, another issue has arisen and it is broken again.

[2021-12-01 18:31] brianking commented on #380
amvanbaren commented 12 days ago
@brianking The download count service runs once an hour. @mbarbero Are the download counts cached?

[2021-12-01 18:32] brianking commented on #380
mbarbero commented 12 days ago
They are cached just like the page, for a couple of minutes. To double check, I ran a query against db and:
[code]

[2021-12-01 18:34] brianking commented on #380
mbarbero commented 12 days ago
Also, I see a couple of
[code]

[2021-12-01 18:34] brianking commented on #380
@mbarbero the 412 status could indicate a 'mid-air collision', source: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/412 Maybe you can find more detailed info about the 412 status on the Azure portal, searching by requestId.

[2021-12-01 18:34] brianking commented on #283
Discussion on new breakage moved to issue #380

[2021-12-05 14:22] bilucodota opened #381 "Unpublish tabnine-vscode@9999.9999.9999"
Hi @spoenemann,

My name is Amir, the owner of [Tabnine](https://open-vsx.org/extension/TabNine) organization.
We accidentally published `tabnine-vscode` extension with version `9999.9999.9999`.

As a result, we're unable to release higher versions.
Would it be possible to unbpublish this version? as far as I understand there's no API for this process.

Thanks!

[2021-12-06 07:51] spoenemann commented on #381
Hi! Please create an issue at https://github.com/EclipseFdn/open-vsx.org/issues; unfortunately I cannot transfer this issue.

[2021-12-06 07:51] #381 closed

[2021-12-14 11:58] amvanbaren commented on #372
These methods in `ExtensionVersionRepository` must return a unique `ExtensionVersion`:
https://github.com/eclipse/openvsx/blob/183246bef7ca83aec3d7680bfbd5f37df4912ae9/server/src/main/java/org/eclipse/openvsx/repositories/ExtensionVersionRepository.java#L30-L32

I can add a unique constraint to `extension_version` on `extension_id` and `version` and add a unique constraint to `extension` on `names

[2021-12-15 07:57] akosyakov opened #383 "extension publishing can race"
We should ensure that publishing is rejected if the same version is already in process of publishing. Also if publishing fails for some reasons partially uploaded resources should be reverted.

It seems to be a cause for https://github.com/eclipse/openvsx/issues/374

[2021-12-16 09:37] #373 closed

[2021-12-16 13:06] jankeromnes opened #386 "Please support publishing pre-releases"
When publishing to the Microsoft Marketplace, you can specify `--pre-release`, so that the extension appears as a "pre-release" in the Marketplace, and VS Code users will not automatically upgrade to that version (unless the user explicitly requested pre-releases).

Would this be something that OpenVSX could support as well?

Expected:
- Ability to publish a new vsix with `--pre-release`
- https:/

[2021-12-16 14:00] spoenemann commented on #386
To clarify: what's the difference to the `preview` flag that has been in the marketplace from the beginning.

[2021-12-16 17:33] filiptronicek commented on #386
@spoenemann I think the preview flag means that the entire extension should be considered as "in preview" (for example, [eamodio.gitlens-insiders](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens-insiders) versus [eamodio.gitlens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens)), but this feature can mark every version either as a release or prerelease.

[2021-12-16 23:00] spoenemann commented on #386
Ok, then we've been using this flag in a wrong way in Open VSX. Whoever works on this issue should correct the usage of `preview` as well.

[2021-12-16 23:35] jeanp413 commented on #386
Just to add to what @filiptronicek already said.
From the description of `preview` flag in vscode source code `preview: 'Sets the extension to be flagged as a Preview in the Marketplace.'` so the only thing it does is show the preview badge in the marketplace.
Also from this comment https://github.com/microsoft/vscode/issues/15756#issuecomment-440804527

Original issue https://github.com/microsoft

[2021-12-16 23:43] jeanp413 commented on #386
Also note that the new `--pre-release` is kind of a workaround as the microsoft marketplace doesn't support semver with pre-releases e.g. `1.2.0-beta` so they recommend to use the `--pre-release` with odd release versions e.g. `major.ODD_NUMBER.patch`
If possible we should enable semver with pre-releases in openvsx.

[2021-12-17 06:30] akosyakov commented on #386
Here is official announcement with detail explanation on new option: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions

[2021-12-20 13:22] #372 closed

[2021-12-20 13:22] #374 closed

[2021-12-22 09:53] amvanbaren opened #387 "Extension query duplicate key IllegalStateException"
Stacktrace:
`java.lang.IllegalStateException: Duplicate key 1621324 (attempted merging values org.eclipse.openvsx.dto.ExtensionVersionDTO@3db4d49b and org.eclipse.openvsx.dto.ExtensionVersionDTO@58f362d4)
	at java.base/java.util.stream.Collectors.duplicateKeyException(Collectors.java:133) ~[na:na]
	at java.base/java.util.stream.Collectors.lambda$uniqKeysMapAccumulator$1(Collectors.java:180) ~[na:n

[2021-12-23 07:07] ashwin31 opened #388 "add extension"
Hi,

Can you add this extension https://github.com/forcedotcom/salesforcedx-vscode

[2021-12-23 07:44] spoenemann commented on #388
Hi! Please publish extensions yourself following the [documentation](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions). Alternatively, you can submit an issue or pull request to https://github.com/open-vsx/publish-extensions to have the extension published by a bot.

[2021-12-23 07:44] #388 closed

[2021-12-30 08:35] rkeates opened #390 "Issue starting server - gets stuck at 88%"
Issue starting server with ```./gradlew runServer```

The progress gets to 88% and then stops

Using Java 11
PostreSQL 13.5

Please assist

Thank you advance

[code]

[2021-12-30 20:21] a5hk opened #391 "Inconsistency in updating UI parts or maybe a bug"
I recently updated one of my extensions, the latest version was shown in the dropdown but it was not selected as the default version and a previous version was marked as the latest:

![ovs](https://user-images.githubusercontent.com/5412540/147785565-c9e5cc6e-056c-40d3-ac25-9844f2b1b710.gif)

[2021-12-30 20:44] a5hk opened #392 "Removing an image, makes it unavailable in older version of an extension"
The registry website always tries to load images from the HEAD even for older versions:

![image](https://user-images.githubusercontent.com/5412540/147786703-8c23d91b-7086-4333-9773-b7f3aebc0764.png)

[2022-01-06 14:41] amvanbaren commented on #336
I'm currently looking at where to fit the `target` property in the data model.

- It can be put at the `Extension` level, this allows for diverging versions per target and target specific ratings, reviews and download counts.
- A new entity called `ExtensionTarget` can be introduced and placed between `Extension` and `ExtensionVersion`. This would allow for diverging versions per target, but can k

[2022-01-06 14:44] lnicola commented on #336
CC https://github.com/eclipse/openvsx/issues/386#issuecomment-996259179

[2022-01-06 14:52] GitMensch commented on #336
Here's the comment @lnicola referenced, written by @spoenemann:

When this fundamental change is done I think the extension+target+extensionversion or extension+extensionversion+target is the reasonable approach.

[2022-01-07 07:33] spoenemann commented on #390
The default configuration assumes you're running the server in Gitpod. Please adapt the configuration to your PostgreSQL instance:

https://github.com/eclipse/openvsx/blob/7f4bb8d9979ea1cf1588c674b9f3232d68b26b64/server/src/dev/resources/application.yml#L8-L10

[2022-01-07 07:36] spoenemann commented on #391
Should be investigated in conjunction with #386.

[2022-01-07 07:38] spoenemann commented on #392
How does the VS Code Marketplace handle this?

[2022-01-07 07:57] a5hk commented on #392
In the Marketplace there is no option to view/browse older versions of extensions, thus you won't encounter this problem. Otherwise the Marketplace also has this problem I think. When I downloaded an older version of an extension, links in the Readme file where referring to the HEAD.

[2022-01-07 11:15] #387 closed

[2022-01-08 09:56] #380 closed

[2022-01-11 05:02] rkeates commented on #390
Thank you for your reply, I added the above user to my instance of postgres, and I have also tried changing the the details to match the default postgres user in the application.yml file, but both instances return the same result. The issue above still persists. Is there perhaps something else I can try?

[2022-01-11 08:26] spoenemann commented on #392
Isn't it the responsibility of the extension to provide stable URLs? They could solve it by referring to a permalink instead of HEAD.

[2022-01-11 08:51] a5hk commented on #392
I am not sure how can this be done if images are in the same github repository.

To create a permalink the commit id is needed. The commit id is not known before commit.

Maybe commiting twice?
First commit the images, then use this commit id to update links in readme or other places and commit again.

[2022-01-11 12:07] spoenemann commented on #390
Sorry, I don't have much experience with local installations of PostgreSQL. I have always used the Gitpod dev environment for openvsx.

[2022-01-11 12:08] spoenemann commented on #392
Yes, I think that's a good solution. I don't see any way how we could fix that in Open VSX. Parsing image URLs and guessing which git commit should be used instead of HEAD is not an option.

[2022-01-12 05:51] a5hk commented on #392
Can we have a command line option for `ovsx` to pass the commit id to be used for links?

[2022-01-12 07:40] spoenemann commented on #392
Currently we don't manipulate the Markdown content at all, but delegate all of the packaging to `vsce`. If `vsce` has such an option, we can add it to `ovsx` as well.

[2022-01-12 07:44] spoenemann commented on #392
Maybe the `--baseImagesUrl` option can help: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#marketplace-integration

[2022-01-12 14:19] lnicola opened #397 "Accounts for publishing extensions from CI/CD?"
I made an open-vsx.org account and generated an access token, but then I noticed that https://github.com/eclipse/openvsx/wiki/Namespace-Access#how-to-manage-namespace-members says:

Does that mean that I should make an open-vsx.org (and eclipse.org) account for the CD environment? That seems a bit strange considering the amount of red tape involved in the process.

Alternatively, what are the risk

[2022-01-12 22:16] a5hk commented on #392
Yes that works perfectly. Already updated and published one extension. To create the package, I used something like this:

`vsce package --baseContentUrl=https://github.com/<username>/<repository>/blob/$(git log --format="%H" -n 1) --baseImagesUrl=https://github.com/<username>/<repository>/raw/$(git log --format="%H" -n 1)`

[2022-01-13 15:57] spoenemann commented on #397
Hi @lnicola! That statement from the Wiki is not meant like "it is mandatory to create a service account to publish", but rather "if you create a service account to publish, then it's recommended to add it as contributor". Not sure, maybe the statement is actually not necessary.

Yes, you can create a namespace with a token. But no, managing its members can be done only through the UI at the momen

[2022-01-13 16:11] #397 closed

[2022-01-13 17:02] spoenemann commented on #397
I don't know, please ask the Eclipse Foundation team (CC @eclipsewebmaster).

Yes, provided the information entered in the account details are of a real person.

[2022-01-16 20:30] bpringe opened #400 "Update vsce"
An update to vsce to the latest version, once the next version is published (current is 2.6.3 as of this writing), will bring in an update to markdown-it, which includes a fix for this vulnerability: https://github.com/advisories/GHSA-6vfc-qv3f-vr6c.

[2022-01-16 21:13] felipecrs opened #401 "Detach publishing functionality into a `openvsx-publish` package"
Which would not depend on `vsce` and would only take care of uploading the `.vsix` file (created by any mean, like using `vsce` beforehand) to OpenVSX registries.

I believe most of the VS Code extensions which publishes themselves to OpenVSX also publishes to Visual Studio Marketplace. This means that they already build the `.vsix` using their own and preferred version of `vsce`.

This could fix

[2022-01-17 19:01] gmawdo opened #402 "CORS error from webui"
Ran webui via docker container - using docker -p switch to map 3000 -> 8001
Ran server via docker container with bespoke application config
Ran a postgres instance via docker container

All containers running on the same linux box (myip) but offering services on different ports of course

Honed in on the following server application.yaml and server is shown to be running after inspecting docker lo

[2022-01-18 10:32] spoenemann commented on #401
I don't fully understand the request. The `ovsx` CLI already supports publishing a previously packaged `.vsix` file. Isn't that sufficient?

[2022-01-18 11:15] felipecrs commented on #401
The proposal was to separate the bits from `ovsx` CLI which requires `vsce` from the ones that does not, and publish the latter as its own module (named let's say `osvx-publish`).

The regular `ovsx` CLI would then use `ovsx-publish` to remain working as it was before, and my library would stop using `ovsx` and instead start using `ovsx-publish` (which does not depend on `vsce`). I also pitched th

[2022-01-18 11:54] spoenemann commented on #402
Hard to say. The default frontend app has some "magic" to determine the server URL:
https://github.com/eclipse/openvsx/blob/f14d956761be4952dd0cb5b76671bb72bf9548ba/webui/src/default/default-app.tsx#L25-L32

This can be overridden by creating and building your own frontend app.

The server listens to the `ovsx.webui.url` property to configure CORS:
https://github.com/eclipse/openvsx/blob/f14d95676

[2022-01-20 13:33] gmawdo commented on #402
It seems that it was the port mapping I was doing at the container level that was the issue - i.e. due to the 'magic' it appears I couldn't override the 3000 port to 8001
All worked fine without the port mapping running 3 containers server,webui, postgres and a simple application.yml mapped into the server container
Thanks

[2022-01-20 13:33] #402 closed

[2022-01-21 06:56] #400 closed

[2022-01-21 06:56] #401 closed

[2022-01-21 07:16] spoenemann commented on #400
I published v0.3.0 of the `ovsx` package.

[2022-01-21 13:53] GitMensch opened #405 "How to do a manual (non-cli) upload?"
This issue was brought up in https://github.com/oleg-shilo/Favorites.vscode/issues/18:

So is this already possible? If not: please see this as a FR.

[2022-01-21 16:32] bpringe commented on #400
Thanks!

[2022-01-27 13:42] rangav commented on #405
Hi I am also looking for manual upload process like vscode.

and also the publishing process looks more complicated than vscode.

Why we need to login with github and then create another account in eclipse.

Can you please provide account creation with email and password.

[2022-01-27 14:20] rangav opened #408 "Publisher Agreement question"
[code]

Should we only publish free extensions? not any paid extensions where users are required to pay to use the extension?

[2022-01-27 15:27] spoenemann commented on #408
Hi @rangav! Please create an issue at https://github.com/EclipseFdn/open-vsx.org to ask this question. This repository is for the project code, which is not maintained by Eclipse Foundation staff, but other contributors (see https://projects.eclipse.org/projects/ecd.openvsx/who).

[2022-01-27 15:27] #408 closed

[2022-01-27 15:30] spoenemann commented on #405
Using GitHub as authentication provider was the most obvious choice in the beginning. The project is open to adding other authentication methods like GitLab or email / password. However, I don't have time to implement new features here at the moment. If you are interested in bringing this project forward, please help finding more contributors or consider contributing yourself.

[2022-01-27 18:08] rangav commented on #405
Hi @spoenemann thanks for the reply.

Atleast if you can implement manual upload of vsix file, that would be great.

[2022-01-27 20:06] brianking opened #409 "Revoking Publisher Contributions Fails"
As an admin on open-vsx.org, I can not revoke publisher contributions from the Admin Dashboard (Publishers section).

The error is "Authorization by Eclipse Required", and this is the function:
https://github.com/eclipse/openvsx/blob/2003c43e9b7cca9e23b64c8b86f59bde94f15998/server/src/main/java/org/eclipse/openvsx/eclipse/EclipseService.java#L480

<img width="801" alt="Screenshot 2022-01-27 at 19

[2022-01-27 20:11] SharonCorbett commented on #409
Same goes for me.

cc @SharonCorbett

[2022-01-28 06:30] spoenemann commented on #409
Have you logged in to Eclipse via https://open-vsx.org/user-settings/profile ?

[2022-01-28 11:18] thunderclient commented on #405
Now this namespace process also looks more complicated,

The whole process is discouraging for developers to publish to open-vsx, as its too complicated

Why cant we just create account with email and password and upload vsix package. Simple 2 step process.
Thats the easy way to encourage more devs to publish here

[2022-01-28 11:36] brianking commented on #409
Yes. The dashboard would be inaccessible otherwise.

I wonder if it has something to do with changes @amvanbaren made that makes tokens out of date for some activities. Other functionality is available to us in the dashboard however, such as granting namespace ownership and removing extensions.

[2022-01-28 12:32] amvanbaren commented on #409
I haven't touched this part of the codebase.

It looks like Eclipse tokens are only renewed if the refresh token hasn't expired:
https://github.com/eclipse/openvsx/blob/9e261e01ab3398f0405c81e5882309ef6e18bf13/server/src/main/java/org/eclipse/openvsx/security/TokenService.java#L126-L141

I guess retry logging in to Eclipse via https://open-vsx.org/user-settings/profile ?

[2022-01-28 12:38] rangav commented on #405
Now this namespace process also looks more complicated,

The whole process is discouraging for developers to publish to open-vsx, as its too complicated

Why cant we just create account with email and password and upload vsix package. Simple 2 step process.
Thats the easy way to encourage more devs to publish here

[2022-01-28 15:45] SharonCorbett commented on #409
Retried again and even generated a new token for myself.  Same error message.

[2022-01-28 15:50] amvanbaren commented on #409
@SharonCorbett at what time (UTC) did you get the same error?
@mbarbero Can you check the server logs for exceptions around that time?

[2022-01-28 16:30] SharonCorbett commented on #409
I'm on Eastern time...It was just moments before I updated the bug
HTH

[2022-01-29 08:37] hacke2 opened #411 "How to upgrade vscode builtin extension to 1.63.2 ?"
![image](https://user-images.githubusercontent.com/6399899/151654156-9db34e26-9369-4bed-86c1-f115b5f954c2.png)

This version was released last year

[2022-01-29 08:44] hacke2 commented on #411
![image](https://user-images.githubusercontent.com/6399899/151654376-38d8279a-9213-421f-a03e-ae704c1b7d19.png)

not found 1.63.2

[2022-02-01 10:09] brianking commented on #411
@hacke2 A couple of questions.

1. Where does that screenshot of all the versions come from?

2. What code editor / tool are you using?

[2022-02-01 10:14] brianking commented on #405
@rangav We chose that authentication method at the time because it met out needs and would cover the vast majority of publishers.

We don't have the resources to implement another login system currently, but this is an open source project and we welcome contributions. The first step would be to open a separate issue to discuss if/how it would be implemented before any code is written.

Let's keep

[2022-02-01 10:16] brianking commented on #390
@rkeates Is this still an issue?

[2022-02-01 12:25] hacke2 commented on #411
1. from https://open-vsx.org/extension/vscode/typescript-language-features **Version** select
2. I using [opensumi](https://github.com/opensumi/core) , That IDE plugin repository uses openvsx。

[2022-02-01 13:01] amvanbaren commented on #379
The `/vscode/gallery/extensionquery` endpoint mirrors the responses returned by the same visualstudio marketplace endpoint.
So we can't reduce the size by changing the request or response for this endpoint. The request for this endpoint does include paging parameters to limit the response size. I'll test if paging is applied correctly.

@spoenemann Would it be possible to limit the amount of versi

[2022-02-01 13:22] rkeates commented on #390
@brianking yes this is still an issue, I have tried various other options of getting the server running and it does not seem to run outside of gitpod. I have tried the docker file / docker image, wsl and linux vm and in each there are issues connecting the webui to the server.

I have tried again and one of the tests are failing (not sure if this could be preventing the server from starting) : tes

[2022-02-03 10:43] spoenemann commented on #411
As described in the README of that extension, the built-in extensions of vscode are published from here: https://github.com/eclipse-theia/vscode-builtin-extensions

Please create an issue in that repository if you're missing some version.

[2022-02-03 10:43] #411 closed

[2022-02-03 10:45] spoenemann commented on #379
Yes, see also https://github.com/eclipse-theia/theia/issues/10538. We should add additional parameters to control how much information is returned, and adapt Theia so it requests only what is necessary.

[2022-02-03 21:34] ericpaulsen commented on #166
What are the steps to handle user authentication with OpenVSX? I'm trying to spin up the `openvsx-server` and am receiving the same error as above. I'm not exactly sure where to place credentials.

[2022-02-04 10:24] mbarbero commented on #379
The paging should definitely help.

The compression not so much. Indeed, the reported bandwidth consumption from https://github.com/eclipse/openvsx/issues/379#issue-1066284053 was already about compressed responses. Initially, we were compressing responses at the LB level, but eventually enabled it at the server level via https://github.com/EclipseFdn/open-vsx.org/commit/adfde558e8aafd6453b8bdd471

[2022-02-04 10:27] spoenemann commented on #379
We need to evaluate whether paging would really improve the situation from the perspective of Theia. @msujew WDYT?

[2022-02-07 08:35] benoitf opened #413 "Support X-Forwarded-Prefix"
There is handling in Open VSX of `X-Forwarded-Proto` and `X-Forwarded-Host` but not `X-Forwarded-Prefix` on the server

When running behind an http server the prefix might help

[2022-02-07 10:45] amvanbaren commented on #379
I've removed compression from https://github.com/eclipse/openvsx/pull/412.
https://github.com/eclipse-theia/theia/issues/10538#issuecomment-1028912793 proposes paging for the `/api/-/query` endpoint by using `offset` and `size` query parameters in the same way as the `/api/-/search` endpoint.

[2022-02-07 13:53] axonasif opened #415 "Open-vsx is down"
Open-vsx is partially not working at the moment.
I'm seeking the attention of open-vsx maintainers to help 🙏
<img width="363" alt="Screenshot 2022-02-07 at 7 36 18 PM" src="https://user-images.githubusercontent.com/39482679/152801004-c57bf452-2189-4807-86c2-a83af3628a53.png">
<img width="1093" alt="Screenshot 2022-02-07 at 7 47 57 PM" src="https://user-images.githubusercontent.com/39482679/1528010

[2022-02-07 15:05] spoenemann commented on #415
Please report to https://github.com/EclipseFdn/open-vsx.org/ in the future.

[2022-02-07 15:05] #415 closed

[2022-02-08 10:49] #386 closed

[2022-02-10 16:27] benoitf opened #417 "ovsx.upstream.url is not used for VS Code search"
Hello,

it seems the parameter `ovsx.upstream.url` is only handle when using the `/api/-/search` endpoint but not when using the `/vscode/gallery/extensionquery` endpoint

https://github.com/eclipse/openvsx/wiki/Deploying-Open-VSX#upstream-registry-instance

Is it an expected behaviour ?

[2022-02-14 19:30] filiptronicek opened #423 "Prerelease extensions are also showing the `Preview` badge"
After the addition of prereleases in https://github.com/eclipse/openvsx/pull/410, the extensions that leverage it automatically have the `Preview` label shown on them, but that should not happen, because they already have the pre-release badge.

OpenVSX: (see both <kbd>Pre-Release</kbd> & <kbd>Preview</kbd> badges are here)

![image](https://user-images.githubusercontent.com/29888641/153932346-487

[2022-02-15 18:19] filiptronicek opened #425 "Date statistics are not provided in the API"
In the WebUI, you can see when a version of an extension was published and other dates, but in VS Code upon clicking on the detail of a specific extension the date is not returned there, making it broken.

The date displayed either defaults to `01/01/1970` or is just returned as `Invalid Date`.

![image](https://user-images.githubusercontent.com/29888641/154124310-80b14a46-2b60-4b0c-a2e5-3b2a8c585

[2022-02-15 20:02] jeanp413 commented on #425
Related https://github.com/eclipse/openvsx/issues/330

[2022-02-15 20:42] filiptronicek commented on #425
Thanks @jeanp413 for linking the issue, I will close this one if in favor of it, since it looks like that one is more general and should be the one to track progress.

[2022-02-15 20:42] #425 closed

[2022-02-15 20:45] filiptronicek commented on #330
I have made a duplicate of the issue today and in there I made a command for testing whether the date parameters are working correctly, so I'll share the snippet here (needs `curl` and `jq`):

[code]

Currently, this returns null for all three values, but those should be stringified dates (e.g. "2022-02-11T16:14:02.327Z").

[2022-02-16 10:45] amvanbaren opened #426 "URI encode FileResource urls"
[code]

[2022-02-16 11:47] brianking opened #427 "[Admin] Add Ability to Change Namespace"
More and more we are getting cases where owner want to transfer their extensions to a new namespace. I don’t believe this can be done currently, so what it means that they have to start from scratch and lose users who installed from the old namespace, as well as losing download count and other information. Would it be practical to add the ability to change namespaces?

Example request: https://git

[2022-02-17 12:55] #413 closed

[2022-02-24 09:07] #423 closed

[2022-02-28 10:04] hacke2 commented on #411
https://github.com/eclipse-theia/vscode-builtin-extensions/issues/99

[2022-02-28 15:40] liechtir opened #430 "Redhat application server extensions not availble"
Hi, the redhat server extensions for wildfly and jboss are not available, please add those. Such as https://marketplace.visualstudio.com/items?itemName=redhat.vscode-server-connector or https://marketplace.visualstudio.com/items?itemName=redhat.vscode-rsp-ui, and more.

[2022-03-02 17:30] colin-grant-work opened #431 "Empty response for existing (old) plugin version"
It appears that making API queries about old versions of plugins produces empty responses.

For example:

All known versions of redhat.vscode-xml
[code]
Searching for the latest version with this query

[code]

returns a good result. Searching for an older version using

[code]

returns

[code]

Similarly, all versions of `ms-python.python`:

[code]
Searching for the latest with the query `https:/

[2022-03-03 06:29] spoenemann commented on #430
Please create issues at https://github.com/redhat-developer/vscode-server-connector and https://github.com/redhat-developer/vscode-rsp-ui about publishing those extensions.

[2022-03-03 06:29] #430 closed

[2022-03-04 02:34] jeanp413 opened #432 "Some extension resource url return 404 or 500"
This package.json urls return 404

[code]

Also this theme json resources return error 500
[code]

This is the query to get the above extensions, this query is used in vscode when previewing themes directly from marketplace
[code]
Also from this result I found that the `publisher.displayname` is null, this is required for the quickpick list description
[code]

![gp_openvsx_theme](https://user-imag

[2022-03-04 02:37] jeanp413 commented on #432
Seems 500 error is related to this issue #426

[2022-03-04 10:16] amvanbaren commented on #432
Yes, `publisher.displayName` is not set.
https://github.com/eclipse/openvsx/blob/f475efa0495393d6b71cb5512b5a4392afce2115/server/src/main/java/org/eclipse/openvsx/adapter/VSCodeAdapter.java#L363-L365

It looks like some extensions have a `displayName` that is different than `publisherName` (namespace name).
**Winnie Lin**: https://marketplace.visualstudio.com/items?itemName=onecentlin.laravel-blad

[2022-03-04 10:22] amvanbaren commented on #432
Yes, I'll finish up issue #426.

The 404 error is new, I'll try to replicate the issue.

[2022-03-09 12:12] jeanp413 commented on #432
@amvanbaren the extension is returned as part of this query but it doesn't have web resources in the response, I searched for in MS marketplace and it also doesn't have web resources, so it seems vscode asumes all the extensions returned by this query are web extensions and openvsx is filtering incorrectly when doing a search
[code]

I see the viper extension response from openvsx contains this pr

[2022-03-14 11:27] amvanbaren commented on #432
The 404 errors are caused by the `resourceUrlTemplate` configuration in openvscode-server product.json.
It uses the Open VSX webresource endpoint: `https://open-vsx.org/vscode/asset/{publisher}/{name}/{version}/Microsoft.VisualStudio.Code.WebResources/{path}`. Not all extensions are web extensions, which cause the 404 errors.
https://github.com/gitpod-io/openvscode-server/blob/8cfe967898b16877f9b0

[2022-03-14 20:41] jeanp413 commented on #432
I see, thanks for the investigation @amvanbaren :pray:. So this should still be fixed in openvsx right? as trying to access `https://open-vsx.org/vscode/asset/viper-admin/viper/2.4.0/` shows an error:
![image](https://user-images.githubusercontent.com/25115070/158257603-594fcf96-a191-4134-9b8e-c6b1a0cab372.png)

[2022-03-16 08:56] #426 closed

[2022-03-16 09:21] amvanbaren commented on #432
Yes, I've added a `/vscode/unpkg/{namespace}/{extension}/{version}/{path}` endpoint to VSCodeAdapter.
I've changed ExtensionProcessor to always get all resources from a vsix package.

The main challenge is to write a database migration that re-processes all extension versions to get all resources from its vsix package. Flyway offers Java migrations besides SQL scripts, so it is possible.

[2022-03-24 15:12] benz0li opened #436 "Jupyter extension: Pre-release set to latest version"
https://open-vsx.org/extension/ms-toolsai/jupyter/2022.3.1000752054 is a pre-release; not the latest _stable_ version.

[2022-03-24 15:13] benz0li commented on #436
Related to https://github.com/eclipse/openvsx/pull/419?

[2022-03-24 15:15] benz0li commented on #436
Executing `code-server --install-extension ms-toolsai.jupyter` I expect the latest _stable_ version being installed.

[2022-03-25 06:45] benz0li commented on #436
@amvanbaren Or is this rather related to https://github.com/open-vsx/publish-extensions and should be moved there?

FYI @filiptronicek

[2022-03-25 07:22] amvanbaren commented on #436
@benz0li VS Code expects the `/vscode/gallery/extensionquery` endpoint to return the latest version no matter if it's stable or pre-release. This change was introduced by PR #419.

Which endpoint is the `code-server` command calling?

[2022-03-25 07:30] benz0li commented on #436
Thanks for the prompt reply. I'll check with the devs @coder.

[2022-03-25 08:24] amvanbaren commented on #436
We might be able to add a `stable` version alias in addition to `latest` and `pre-release`. Then `code-server` can call `https://open-vsx.org/api/ms-toolsai/jupyter/stable`

[2022-03-25 08:34] benz0li commented on #436
IMHO https://open-vsx.org/extension/ms-toolsai/jupyter/2022.3.1000752054 should not have been published as https://open-vsx.org/extension/ms-toolsai/jupyter/latest.

https://open-vsx.org/extension/dbaeumer/vscode-eslint/latest is still https://open-vsx.org/extension/dbaeumer/vscode-eslint/2.2.2 although v2.2.3 has been released mid January.

[2022-03-25 11:17] benz0li commented on #436
@filiptronicek Does https://github.com/open-vsx/publish-extensions/commit/9fe3cf47613d62675f742b33aa38ad258785ab89 work correctly for [ms-toolsai.jupyter](https://github.com/microsoft/vscode-jupyter)?

[2022-03-25 20:13] amvanbaren commented on #392
`ovsx` also offers the `--baseContentUrl` and `--baseImagesUrl` options. @a5hk can we close this issue?

[2022-03-25 20:24] amvanbaren commented on #338
@felipecrs PR #437 adds the ability for contributors to view extensions that are part of the namespace. As a contributor you can't view (or edit) the members of a namespace. It's a first draft. Your feedback is much appreciated.

[2022-03-26 08:33] benz0li commented on #436
Another comparison: https://open-vsx.org/extension/ms-python/python/latest is https://open-vsx.org/extension/ms-python/python/2022.2.1924087327
👉 2022.3.n{10} (pre-release) has been out for some time but is not published on Open VSX.

@filiptronicek In my opinion publishing of ESLint and Python extension is handled correctly, but not for Jupyter extension.

[2022-03-26 14:41] a5hk commented on #392
@amvanbaren Yes, I wasn't aware. Even if it didn't support those options, as long as we can package with `vsce` and publish using `ovsx`, there is no problem.

[2022-03-26 20:27] felipecrs commented on #338
@amvanbaren I think your implementation makes sense! :)

[2022-03-28 06:37] benz0li commented on #436
Reopened at https://github.com/open-vsx/publish-extensions/issues/569 as this is the wrong place.

[2022-03-28 06:37] #436 closed

[2022-03-28 10:09] amvanbaren commented on #392
Great! I am closing this issue.

[2022-03-28 10:09] #392 closed

[2022-03-28 10:25] amvanbaren commented on #405
Let's continue the discussion about other login options in #337.

[2022-03-28 10:28] rangav commented on #337
I prefer simple email and password login

[2022-03-28 10:31] thunderclient commented on #405
@amvanbaren thanks, how can we test it? is it live?

[2022-03-28 10:57] amvanbaren commented on #405
@thunderclient You can test the PR in Gitpod: https://gitpod.io/#https://github.com/eclipse/openvsx/pull/437
- Wait until the server is running and test extensions have been published.
- Copy the current browser url (Gitpod workspace url)
- Open a new tab, paste the url and prepend `3000-` to the url. The result should be `https://3000-{gitpod-workspace-id}.gitpod.io`.
- You can now test the front

[2022-03-30 09:44] sthdev opened #440 "Search results in VSCodium remain empty with self-hosted Open-VSX instance"
Hi,

I am running a self-hosted Open-VSX instance in a Kubernetes cluster. I built a customized Docker image based on the openvsx server image to include the default frontend. Accessing my openvsx instance in the browser works without problems. I am using open-vsx.org as an upstream registry and can see all extensions hosted there.

However, when I reconfigure VSCodium as described at https://gith

[2022-03-30 10:23] sthdev commented on #440
Is this due to https://github.com/eclipse/openvsx/issues/417?

[2022-03-30 11:51] sthdev commented on #440
Confirmed. This is caused by the fact that the VS Code adapter does not delegate search requests to the upstream registry.

[2022-03-30 11:51] #440 closed

[2022-04-04 07:41] #336 closed

[2022-04-04 20:16] #432 closed

[2022-04-05 10:45] #391 closed

[2022-04-07 18:08] zlweicoder commented on #229
Hi @spoenemann
I noticed there was an initialize sql script for superuser and gaint the admin role to him in another script. so since there are superuser exits, how could we use it to login?

[2022-04-07 18:18] zlweicoder opened #444 "How to modify product.json when I build an local open-vsx server?"
From this documentation: https://github.com/eclipse/openvsx/wiki/Using-Open-VSX-in-VS-Code
We know how to modify VSCODE product.json to use openvsx marketplace.
`"extensionsGallery": {
    "serviceUrl": "https://open-vsx.org/vscode/gallery",
    "itemUrl": "https://open-vsx.org/vscode/item"
}`

While it not works when I replace the serivceUrl and ItemUrl to my local openvsx server (http://localhos

[2022-04-08 01:59] zlweicoder commented on #440
Hi sthdev,
I have the same self hosted openvsx server and I met another issue after I modified the extensionsGallery endpoint of product.json, vscode popup: "Error while fetching extensions. XHR failed".
could you please help to let me know how did you make the change of product.json? what should I fill in the serviceUrl and itemUrl?

Many Thanks,

[2022-04-08 01:59] zlweicoder commented on #440
@sthdev thanks for your kind help.

[2022-04-08 04:44] sthdev commented on #440
Hi @zlweicoder,

try
[code]

This works with VSCodium. It should also work with VS Code.

HTH

[2022-04-08 08:33] zlweicoder commented on #440
I deploy the open-vsx server in local by docker-compose file. and the openvsx-ui url is http://localhost:3000, while I change the extensionGallery endpoint as below , it still not works:

[code]

[2022-04-08 08:33] zlweicoder commented on #440
I deploy the open-vsx server in local by docker-compose file. and the openvsx-ui url is http://localhost:3000/, while I change the extensionGallery endpoint as below , it still not works:
[code]

[2022-04-08 08:39] sthdev commented on #440
[code]
Notice the name of the image. I created an image that combines the OpenVSX frontend and backend, i.e. the backend delivers the frontend to the browser. This is necessary so that frontend and backend run on the same port. It seems to me that VS Code requests data from both the backend and frontend.

[2022-04-08 08:52] zlweicoder commented on #440
I got your point, it seems the frontend and backend must use same port.
could you please help to share the docker file of my-open-vsx-with-ui:latest ?

Thank you very much for helping.

[2022-04-08 09:00] sthdev commented on #440
You need to set up a Gitpod workspace of openvsx. The build script will automatically build the frontend and put it in a `static` subfolder. Download this folder and then copy it into the openvsx-server image like this:
[code]

[2022-04-08 09:33] daiyam opened #445 "Extension vscode/git"
Hello,

I was wondering why the built-in extension git has been published as https://open-vsx.org/extension/vscode/git
Do some Theia-based editors need it? And it hasn't been updated since 5 months...

For Visual Studio Code or VSCodium, it doesn't work since it can't access the proposed apis. (https://github.com/microsoft/vscode/issues/139705 or https://github.com/VSCodium/vscodium/issues/1038)

[2022-04-08 10:43] zlweicoder commented on #440
I built my own image based on your guide but I still cannot host both frontend and backend in the same port. I use a docker-compose file to start websites like :
`ersion: '3.8'

services:
  db:
    image: postgres:12.2
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:

[2022-04-08 13:04] zlweicoder commented on #440
@sthdev
tried to build the image by:
[code]
and use it to start the server. but cannot find the frontend page.
![image](https://user-images.githubusercontent.com/13825714/162440557-849e150d-0093-44d4-b783-7cb7f26c4ab2.png)

The frontend page is a node js project hosted by express in the openvsx-ui image, how could we access it just by copy the
 static files to /home/openvsx/server/static/ ?

![ima

[2022-04-11 10:22] zlweicoder commented on #440
I put the static files to /home/openvsx/server/BOOT-INF/classes/static and it finally works.

[2022-04-14 14:38] jeanp413 opened #446 "Outdated VS Code built-in extensions published in openvsx breaks gitpod, openvscode-server, vscodium, etc"
Since version 1.66.x vscode added a feature to auto update built-in extensions (https://github.com/microsoft/vscode/issues/68410).

The problem with open-vsx is that it has this built-in extension published (used by theia https://github.com/eclipse-theia/vscode-builtin-extensions) and also are outdated, so when this auto-update feature triggers the built-in extensions are replaced by this outdated

[2022-04-14 14:38] jeanp413 commented on #445
Created https://github.com/eclipse/openvsx/issues/446 to better keep track of this issue

[2022-04-14 15:03] daiyam commented on #445
I'm closing the issue since yours is more explanatory.

[2022-04-14 15:03] #445 closed

[2022-04-14 15:20] jeanp413 commented on #446
@daiyam yeah saw that too but that only affects stable releases, gitpod and openvscode-server has insiders versions too

[2022-04-14 15:26] daiyam commented on #446
So the best would be to able to make a PR in vscode to add a flag in the `product.json` to disable the update of built-in extensions.

[2022-04-14 15:35] jeanp413 commented on #446
mmm maybe, the thing is there's two kinds of built-in extensions the ones inside the vscode repo which are not published to the marketplace and the ones that are [downloaded when building the final release](https://github.com/microsoft/vscode/blob/697bc2a30d782d550c00f5dc69619e388e07a0bc/product.json#L31-L92) and are published to marketplace, these ones should auto update also there's --install-bu

[2022-04-14 15:45] daiyam commented on #446
Based on the commit, the builtin extensions have the type `ExtensionType.System`.

[2022-04-14 17:12] janstieler opened #447 "How to update repository"
Hi,
I can't find how to update a changed repository on openvsx in the wiki.
If I reload it with `npx ovsx publish -p <token>` nothing changed.

I would appreciate a little help. I think it could not be so complicated.

[2022-04-18 02:35] #444 closed

[2022-04-18 02:46] zlweicoder opened #448 "MAX_ENTRY_SIZE Limited to 32MB， How to change it on my own openvsx server?"
As you can see in the picture below, I want to upload this extension to my own openvsx server by using ovsx cli, but the size of the vsix file is limited to 32MB by serve.
![image](https://user-images.githubusercontent.com/13825714/163745986-745fc93e-cedb-4949-b50e-118dcda83187.png)
![image](https://user-images.githubusercontent.com/13825714/163746278-b5fb3dba-3057-41d2-ad68-bcab3fc696fb.png)

 Is

[2022-04-19 16:03] jeanp413 commented on #446
After talking with @amvanbaren and @akosyakov we'll exclude this extensions (in the `vscode` namespace) in the `/vscode` endpoints so we don't break theia users

[2022-04-19 16:32] daiyam commented on #446
@jeanp413 Can you clarify what you are going to do? Thx

[2022-04-19 17:16] jeanp413 commented on #446
@daiyam Aart will make a PR filtering extensions in the vscode namespace i.e. having an id of this form `vscode.*` (which are only used by vscode built-in extensions) from the request response to all the [openvsx vscode enpoints](https://github.com/eclipse/openvsx/blob/19286bfc35472b8b047c89426c007f5c7b8ab950/server/src/main/java/org/eclipse/openvsx/adapter/VSCodeAdapter.java#L79) which are config

[2022-04-19 18:32] daiyam commented on #446
@jeanp413 Yep, you are right. It should fix the issue for all vscode-based editors. Thx

[2022-04-25 03:23] daiyam commented on #446
@jeanp413 Do you think that your fix will be available before the next release of vscode?

[2022-04-25 03:28] jeanp413 commented on #446
Depends on Aart's schedule, @amvanbaren will you be able to work on this issue this week?

[2022-04-25 07:23] amvanbaren commented on #446
[Release 19286bf](https://github.com/EclipseFdn/open-vsx.org/pull/946) has some issues on the staging server. My main focus this week is to get the release to production. I can work on this issue in between testing and debugging. The fix itself is pretty straightforward.

[2022-04-25 14:34] prophet60091 commented on #229
Moin, @spoenemann!  So glad I found this project!
We too are on a private network; as I'm trying find a way to offer this as a solution in an environment that is essentially airgapped, I wouldn't be able to use github as an oauth provider away. We do have LDAP, however, but for testing It'd be fantastic if we could just do basic auth using the database and add users manually in the application con

[2022-04-26 08:19] spoenemann commented on #229
I agree it would be great to add more authentication methods and make that configurable via Spring properties. That shouldn't be too hard since we're based on Spring Boot. But I won't have time to work on this, so contributions are welcome.

[2022-05-03 08:19] lukashass opened #450 "Publish newest cli to npm"
It seems like the last `ovsx` version published to https://www.npmjs.com/package/ovsx was `0.3.0`.

Missing versions:

- `0.4.0`
- `0.5.0`

[2022-05-08 20:24] jeanp413 commented on #450
cc @amvanbaren

[2022-05-11 17:21] radeksimko commented on #58
We ran into a case where unpublishing/withdrawing or at least some way of mitigating mistakes would've been useful and I believe this can still be done in a safe way.

I didn't notice until it was too late that `ovsx` available from npm is an old version https://github.com/eclipse/openvsx/issues/450 and accidentally published a platform specific (darwin/arm64) vsix as universal.

I understand the

[2022-05-12 17:45] ccorn commented on #379
The reason for the huge response size is very simple, at least for JSON API requests of the form

    https://open-vsx.org/api/-/query?extensionId=${namespace}.${name}&includeAllVersions=true

as currently used when finding compatible extension versions for Theia.

This returns an `extensions` array which bundles, for each available version, most recent versions first, the information that you wou

[2022-05-15 09:47] #330 closed

[2022-05-16 18:24] amvanbaren commented on #448
@zlweicoder You can refactor this constant to an application property, so that it becomes configurable in `application.properties`. Then use `@Value` to use the property in a `@Component`. You can find examples in the codebase.

[2022-05-17 02:24] zlweicoder commented on #448
Thanks for your solution, please be free to close this issue.

[2022-05-17 11:52] amvanbaren commented on #448
@zlweicoder Could you open a pull request (PR) containing the changes you've made?

[2022-05-17 11:56] benoitf opened #452 "Add a way to proxy upstream requests instead of external links"
For now, if you configure an upstream, it aggregates all results, including "local links" and "upstream links".

But let say you deploy a private instance of OpenVSX and only granting this instance to reach openvsx.org

If you've clients in your local area using the local instance of OpenVSX, openvsx.org results will be aggregated but it's possible that the clients may not have access/network acce

[2022-05-17 18:23] amvanbaren commented on #379
Thanks @ccorn for your thorough analysis.

There are multiple endpoints that return a response with the `allVersions` property set:
-`/admin/extension/{namespaceName}/{extensionName}`
-`/api/{namespace}/{extension}`
-`/api/{namespace}/{extension}/{targetPlatform}`
-`/api/-/publish`
-`/api/-/query`

Only the `/api/-/query` endpoint returns multiple versions, each with `allVersions` set.
Which you r

[2022-05-17 19:27] jeanp413 opened #453 "Missing `publisher.isDomainVerified` property in extension response"
The `publisher.isDomainVerified` property is missing for extension whose namespace is verified.
e.g. from ms marketplace response
[code]

This will enable showing a :heavy_check_mark: in vscode
![image](https://user-images.githubusercontent.com/25115070/168894164-f8cb8c64-bc74-4ea4-89f4-3405a93aa627.png)

[2022-05-19 09:56] amvanbaren commented on #453
@jeanp413 Well, `domain` is not stored in the database as part of the namespace.

[2022-05-20 00:30] jeanp413 commented on #453
Ah I see, I thought it was like open-vsx namespace claiming process :smile:

[2022-05-20 03:39] jeanp413 opened #456 "VS Code query response is listing files in node_modules"
VS Code makes this query to fetch the popular extensions view but the response is 19 MB
[code]
The response is listing all the files in the `node_modules` folder of the extension :grimacing:
[code]

[2022-05-20 03:40] jeanp413 commented on #456
cc @amvanbaren

[2022-05-20 07:43] amvanbaren commented on #453
It can be part of the namespace claiming process. If a namespace owner wants a domain to be added to the namespace they can add `domain` to the namespace claim Github issue. An input field for `domain` needs to be added to the admin dashboard. The server needs some extra functionality to check if the domain  is verified by querying for a TXT DNS record.

[2022-05-24 13:25] radeksimko commented on #450
We'd love to start publishing to OpenVSX the Terraform extension ([34k downloads](https://open-vsx.org/extension/hashicorp/terraform) so far; 1.7M installs through the MS Marketplace), but this effectively preventing us from doing so, because it's platform-specific and 0.3.0 does not support platform-specific builds.

Is there any way we can help resolve this? 🙏🏻

[2022-05-24 13:59] amvanbaren commented on #450
ovsx version 0.5.0 adds support for target platform specific extensions.
However, ovsx 0.5.0 isn't compatible with the current server build running in production.

cc @mbarbero @fredg02

[2022-05-26 10:54] amvanbaren commented on #456
It looks like the MS marketplace doesn't include any WebResources in the response.
[code]
Also when I narrow down the query to `ms-python.python` it doesn't include WebResources
[code]

[2022-05-26 15:45] jeanp413 commented on #456
Seems `Microsoft.VisualStudio.Code.WebResources` is a custom attribute from openvsx, I don't see it in [VSCode source code](https://github.com/microsoft/vscode/blob/cc86b15a44fe28300180108f4d95cacee98717dc/src/vs/platform/extensionManagement/common/extensionGalleryService.ts#L190-L207)

[2022-05-26 18:14] amvanbaren commented on #456
And looking at the blame info, AssetTypes hasn't changed in the past 5 years:
https://github.com/microsoft/vscode/blame/cc86b15a44fe28300180108f4d95cacee98717dc/src/vs/platform/extensionManagement/common/extensionGalleryService.ts#L190-L207

It was introduced in openvsx in PR #262:  https://github.com/eclipse/openvsx/pull/262/files#diff-17aa6856a7169de1018e7f3a9db6305371243d8c52fcb023f4d063a8bcf97

[2022-05-31 06:57] amvanbaren commented on #450
`ovsx` versions 0.4.0 and 0.5.0 are now available at NPM:
https://www.npmjs.com/package/ovsx/v/0.4.0
https://www.npmjs.com/package/ovsx/v/0.5.0

[2022-05-31 06:57] #450 closed

[2022-05-31 10:20] radeksimko commented on #450
Thank you for publishing the new versions to NPM!

It looks like the server still doesn't reflect the target. I just tried publishing a platform-specific extension and install it via VS Codium:

[code]
[code]

[code]
[code]
[code]
[code]

Is there a timeline for updating the server?

[2022-05-31 10:29] radeksimko opened #461 "Infer publish `target` from package manifest & allow multiple `--packagePath` args"
I'm not sure if this relates to https://github.com/eclipse/openvsx/issues/450#issuecomment-1141948684 at all - i.e. the server not reflecting target at all. A quick look into the codebase would suggest it doesn't - feel free to correct me if I'm wrong though!

Currently `ovsx` behaviour seems to differ from `vsce` in that it essentially requires `--target`/`-t` for platform-specific publishing. Wh

[2022-05-31 22:49] jeanp413 opened #462 "Implement sponsor link"
ref https://github.com/microsoft/vscode-vsce/pull/732/files

There's a new tag `__sponsor_extension` and a new resource `Microsoft.VisualStudio.Code.SponsorLink`

Also they added a link to the publisher homepage but that's broken for us because they use the `publisherName` a.k.a the `namespace` but that could be different from the github id so maybe we could add a publisher page to openvsx like in

[2022-06-02 22:18] chrjorgensen opened #463 "Also accept LICENCE files (alternative spelling)"
The ovsx package fails when a VS Code extension is being published to Open VSX marketplace and there is a license file spelled in the british way, i.e. LICENCE. The ovsx complains about no license and stops the publishing proces... :-(

This was fixed in the Open VSX GitHub repository in PR #307 - but apparantly it does not work anymore?

I hope that this change can also be implemented in the ovsx

[2022-06-03 15:23] tgodzik opened #464 "‘node\r’: No such file or directory"
After updating to 0.5.0 it seems we are getting an error related to caret return `\r`

[code]

For details take a look at https://github.com/scalameta/metals-vscode/runs/6725829907?check_suite_focus=true

[2022-06-03 15:38] tgodzik commented on #464
Maybe this was released manually on windows and that's why this is happning?

[2022-06-08 08:46] tgodzik commented on #464
Thanks!

[2022-06-08 09:02] #464 closed, assigned to amvanbaren

[2022-06-08 09:15] amvanbaren commented on #463
Hi @chrjorgensen,

I quickly checked. The code hasn't changed.
https://github.com/eclipse/openvsx/blob/72706d126e642d6d714c5ae40bc970dd35340986/cli/src/check-license.ts#L87-L99

Are you getting the `Extension ${namespace}.${name} has no license.` error or something else?

[2022-06-08 09:28] amvanbaren commented on #462
- [ ] Support `__sponsor_extension` tag
- [ ] Support `Microsoft.VisualStudio.Code.SponsorLink` resource
- [ ] Add namespace link to `extensionquery` response
- [ ] Add namespace page to webui
- [ ] Add namespace configuration to webui (description, website links, social links, logo)

Namespace page layout:
![afbeelding](https://user-images.githubusercontent.com/14129099/172581405-72acfe6b-04ff-4c

[2022-06-08 10:03] chrjorgensen commented on #463
Hi @amvanbaren,

Okay. I have just checked the latest runs and they have run without errors.
I'm positive I saw some errors about misspelled licence file (e.g. with extension halcyontechltd.git-client-ibmi), but that was some months ago and it is current now - so the problem must have been solved.

Sorry for the confusion - I'll close the issue.

[2022-06-08 10:03] #463 closed

[2022-06-08 10:48] amvanbaren commented on #461
@radeksimko The main difference between `ovsx` and `vsce` is that `vsce` has some client-side validation before it publishes an extension. That's why `vsce` extracts the target from the xmlManifest. On the other hand `ovsx` only uses `target` to build a package. If packagePath points to a *.vsix package then `target` is not used.
https://github.com/eclipse/openvsx/blob/72706d126e642d6d714c5ae40bc9

[2022-06-08 11:00] radeksimko commented on #461
Oh that's good to know actually! That would be another blocker I'd hit straight away once open-vsx.org supports target platforms. 😅  Does that mean it's impossible to build the packages once and publish them both to MS Marketplace _and_ open-vsx.org if we need platform-specific builds?

Assuming vsix is basically just a ZIP file and the manifest is XML - both being non-proprietary files, is there

[2022-06-08 11:49] amvanbaren commented on #461
`ovsx` uses the `createVSIX` function in the `vsce` package to build extension packages, so packages built for the MS Marketplace (using `vsce`) should be the same as packages built with `ovsx`. The `vsce` version that `ovsx` uses is a bit older though.
Ultimately it's how the server processes the package when it's published that makes the difference.

It can, but for now the **server** reads the

[2022-06-08 13:36] amtadev opened #465 "[Vulnerability] log4j-core 2.13.3 in docker image openvsx-server (CVE-2021-45046)"
I downloaded and scanned openvsx-server docker image version 72706d1, and found that it has/uses/references log4j-core 2.13.3 which is vulnerable (CVE-2021-45046).

could you confirm if this is actually used within the image? And if yes, are there any plans to update it to >= 2.17.1?

[2022-06-08 13:51] amtadev opened #466 "[Vulnerability] debian libfreetype6 2.9.1 in docker image openvsx-server (CVE-2020-15999)"
I downloaded and scanned openvsx-server docker image version 72706d1, and found that it has/uses/references debian libfreetype6 2.9.1-3+deb10u1 (CVE-2020-15999).

could you confirm if this is actually used within the image? And if yes, are there any plans to update it to >= 2.10.4?

[2022-06-08 13:57] amtadev opened #467 "[Vulnerability] spring-webmvc 5.3.1 in docker image openvsx-server (CVE-2022-22965)"
I downloaded and scanned openvsx-server docker image version 72706d1, and found that it has/uses/references spring-webmvc 5.3.1 (CVE-2022-22965)

could you confirm if this is actually used within the image? And if yes, are there any plans to update it to >= 5.3.18?

[2022-06-09 02:01] jeanp413 opened #468 "Web extension resources return incorrect MIME type"
From https://github.com/gitpod-io/gitpod/issues/10523

It seems the root cause of that bug is that Web extension resources served from openvsx return an incorrect MIME type
For example:
- Requesting for https://openvsxorg.blob.core.windows.net/resources/pomdtr/excalidraw-editor/3.0.1/extension/public/static/css/main.9cab4879.chunk.css returns `Content-Type: text/plain` when it should be `text/css`

[2022-06-09 16:28] tgodzik commented on #464
It works, thanks! :tada:

[2022-06-09 17:41] amvanbaren commented on #468
I've replaced the fileType detection logic with [Apache Tika](https://github.com/apache/tika). It supports [more file types](https://github.com/apache/tika/blob/main/tika-core/src/main/resources/org/apache/tika/mime/tika-mimetypes.xml) out of the box and it lets you configure custom file types too.

The bad news is that the `getFileType` method is also used when uploading a file to cloud storage:

[2022-06-09 17:49] jeanp413 commented on #468
This only matters for web extension (__web_extension tag) and I guess there're not many of those :crossed_fingers:, do you have some numbers about the number of web extension?

[2022-06-09 18:01] amvanbaren commented on #468
Ok, that would narrow it down. I don't know how many of the extensions are web extensions.

[2022-06-09 20:22] filiptronicek commented on #462
Btw this is how VS Code displays the sponsorship button:
![image](https://user-images.githubusercontent.com/29888641/172937386-836440b7-3b2e-46fe-8e05-4880b5fc6382.png)

[2022-06-10 09:47] radeksimko commented on #461
I have to say I am somewhat struggling to stand up the dev environment in gitpod.

I am not familiar with Java, so maybe I'm missing something obvious.

Both Postgres and ElasticSearch seem to be running
<img width="189" alt="Screenshot 2022-06-10 at 10 41 17" src="https://user-images.githubusercontent.com/287584/173038379-635081dd-564e-441d-bde9-853a43f68b04.png">
<img width="211" alt="Screenshot

[2022-06-10 11:04] amtadev commented on #465
![image](https://user-images.githubusercontent.com/71411093/173051906-fb354e8b-cf18-48a0-8fcc-f2e24b3738c2.png)

[2022-06-10 11:27] amtadev commented on #465
updating [spdx-tools](https://github.com/spdx/tools/releases) to version 2.2.7 should mitigate this issue. It uses log4j 2.17.0.

[2022-06-10 18:47] amvanbaren commented on #461
Here's how I open Open VSX in Gitpod:
- Install the Gitpod browser addon
- Navigate to https://github.com/eclipse/openvsx
- Click the green Gitpod button
- A new tab opens
- Login with Github, if prompted
- Let the workspace initialize (takes ~5 min)

![gitpod-open-openvsx2](https://user-images.githubusercontent.com/14129099/173130845-30785aab-e568-40cc-acb6-0ec96b9d3f89.gif)

[2022-06-11 01:26] cedric05 opened #471 "Publishing extension via cli takes for ever"
we use
[code]
to publish. earlier it used to work correctly, from past one week, its taking for ever.
fyi, it looks like it has published extension but still process did not die/killed

refer1: https://github.com/cedric05/dothttp-runner/runs/6830285884?check_suite_focus=true#step:9:1
refer2: https://github.com/cedric05/dothttp-runner/runs/6642336794?check_suite_focus=true#step:9:2

[2022-06-13 08:29] radeksimko commented on #461
Looks like I didn't need the extension, but this was the crucial bit 👇🏻  - Thanks!

It wasn't entirely obvious that I needed to wait for anything 😅

---

With the dev environment running now, I was able to publish vsix for multiple platforms and the target was effectively inferred (although on the server-side, as you mentioned).

I was also able to work around the single-argument `--packagePath`
[

[2022-06-14 15:39] TwitchBronBron commented on #471
I've been having the same issue for months now.
https://github.com/rokucommunity/vscode-brightscript-language/runs/6864880864?check_suite_focus=true#step:10:38

[2022-06-16 10:43] amvanbaren commented on #466
@amtadev How are CefSharp and libfreetype6 2.9.1-3+deb10u1 related?

[2022-06-20 08:31] amvanbaren commented on #471
@TwitchBronBron You've had this issue with ovsx 0.3.0 (or earlier)?

[2022-06-20 12:27] amtadev commented on #466
freetype is a font rendering engine library which is used by cefSharp and chromium.
Google chrome version 86.0.4240.111 or newer has this vulnerability patched, but that of course depends on the user/client.
https://nvd.nist.gov/vuln/detail/CVE-2020-15999

[2022-06-21 20:29] Princesseuh commented on #471
This has also been happening to us for months over at Astro.

Example from today's release: https://github.com/withastro/language-tools/runs/6985935480?check_suite_focus=true

[2022-06-22 01:24] TwitchBronBron commented on #471
This is the last time it worked for me (ovsx@0.2.0 in package-lock.json):
https://github.com/rokucommunity/vscode-brightscript-language/actions/runs/1689259345

And this is the first failure after that (ovsx@0.2.1 in package-lock.json):
https://github.com/rokucommunity/vscode-brightscript-language/actions/runs/1699095172

[2022-06-22 11:29] rbbl-dev opened #473 "503 on https://open-vsx.org/"
Hey there, the https://open-vsx.org/ api seems to always return 503 Errors.

[2022-06-22 17:17] filiptronicek commented on #473
Hi @rbbl-dev,
are you experiencing this on specific endpoints or all API requests? For instance I am able to use the search API just fine.

[code]

[2022-06-22 19:13] filiptronicek opened #474 "Alter extension warning for `super_user`"
When one goes to an extension page published by a user who isn't the verified publisher of a namespace, you get this scary warning message:
![warning banner](https://user-images.githubusercontent.com/29888641/175115239-1e896103-892f-44bf-a1e4-0db6fdf7ee7d.png)

I like the banner, it is awesome for motivating authors to verify their namespaces and make Open VSX a better marketplace for all. I think

[2022-06-22 19:15] filiptronicek commented on #474
This issue was motivated by a message from way back on December 20th, 2021, when I posted the following in our Gitpod Slack:

[2022-06-23 08:31] amvanbaren commented on #474
![Schermafbeelding 2022-06-23 om 10 21 17](https://user-images.githubusercontent.com/14129099/175252301-84930003-9893-43d1-a0d8-ca1e515cf743.png)

We could only show the orange warning banner if the logged in user is the publisher of the extension, so that they can take action to get their extension verified.

![Schermafbeelding 2022-06-23 om 10 27 49](https://user-images.githubusercontent.com/141

[2022-06-23 08:35] amvanbaren commented on #474
Maybe add a new publisher category, e.g. 'trusted reposter'?

[2022-06-23 09:31] amvanbaren commented on #471
Thanks @TwitchBronBron
I diffed versions `0.2.0` and `0.2.1`
The main difference is that in version `0.2.1` the `ExtensionProcessor` starts reading properties from the *.vsixmanifest XML file (instead of package.json)  and it creates `WEB__RESOURCE` `FileResources` for web extensions. This most likely has a performance impact, especially creating the `FileResources`.

@TwitchBronBron @Princesseuh

[2022-06-23 12:28] Princesseuh commented on #471
If that can help, that release was completely empty due to an issue on our side 😅 None of our actual working releases have ever completed, as far as I know

Something to note is that like the original poster says, the publishing always work, the process just never ends

[2022-06-23 13:54] amvanbaren commented on #471
That sounds like a Gateway Timeout (504) or Bad Gateway (502) status code.
The request times out, but the extension still gets published.

How does the CI publishing step determine it finished (either successfully or with an exception)?

[2022-06-23 19:27] Princesseuh commented on #471
I'm not too familiar, but I would assume it waits for the process to end and checks the return code

[2022-06-23 21:59] filiptronicek commented on #474
@amvanbaren thanks a lot for the suggestions 🙏. Here are my thoughts:

That's a really great idea! I like it, **but**, thinking about it more it probably won't be that much of a help. I am worried mainly because I think most extensions, which are not verified and published by @open-vsx are not aware of Open VSX / if they are, they most likely don't have an account, since that is mostly only useful

[2022-06-24 02:48] cedric05 commented on #471
Yes, like mentioned in the issue description, extension gets published but process never dies.
I'm guessing
[code]
for this commit https://github.com/eclipse/openvsx/commit/36ef42f5e293789e7b78fb9839e586b4c44665b2

[2022-06-26 15:25] marshallwalker commented on #471
I had noticed that the source of extensions (including the node modules) was getting saved into the external storage provider, this was causing slow upload time for me personally.

[2022-06-27 10:38] amvanbaren commented on #471
@cedric05 I'll test that piece of code, publishing 1 and multiple extensions at once.

@marshallwalker That's true. However the MS Marketplace does that too: https://rokucommunity.vscode-unpkg.net/RokuCommunity/brightscript/2.33.2/extension/node_modules/ Maybe uploading resources or the whole publishing process should run in the background?

[2022-06-29 05:50] lnicola opened #479 "Publishing platform-specific, pre-release extension failed"
See https://github.com/rust-lang/rust-analyzer/runs/7103624175?check_suite_focus=true#step:23:25. We can remove the `--pre-release` flag, but I don't think that's the issue.

[2022-06-29 11:43] lnicola commented on #479
Dupe of https://github.com/open-vsx/publish-extensions/issues/591, https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330.

[2022-06-29 11:43] #479 closed

[2022-06-29 16:54] filiptronicek commented on #474
@amvanbaren it seems to me that the behavior of extensions being marked as "unverified" is not to be expected in most cases on extensions published by @open-vsx. This is stated on the [Namespace Access](https://github.com/eclipse/openvsx/wiki/Namespace-Access) page of the Wiki [[1](https://github.com/eclipse/openvsx/wiki/Namespace-Access#why-is-a-warning-shown)]. It should be only shown if "the na

[2022-06-30 14:58] amvanbaren commented on #474
No, @open-vsx is only a contributor to all namespaces it created.
It can publish to all other namespaces, because it's a privileged user.

For the new versions they publish their name is displayed as the publisher, but when a user goes back to a previous version then @open-vsx is displayed as the publisher. @open-vsx has to stay a contributor, because else the previous versions, published by @open

[2022-06-30 20:12] jeanp413 opened #480 "`vscode-sessionid` header not allowed in CORS"
From https://github.com/microsoft/vscode/commit/d9ccb7eff15945c823c72a7e8c96a1c5e5e0214f

[code]

[2022-06-30 20:30] jeanp413 commented on #474
I'll like this idea, as it's simple :+1: , I think playing with namespace ownership will add too complexity and bugs

[2022-07-02 08:50] jdneo opened #481 "Wrong extensions being published."
I noticed that the extensions:

[Test Runner for Java](https://open-vsx.org/extension/vscjava/vscode-java-test)
[Maven for Java](https://open-vsx.org/extension/vscjava/vscode-maven)

are wrongly published. The jar files contained in the vsix files are missing - causing users cannot use related features.

[2022-07-04 03:58] jeanp413 commented on #480
cc @amvanbaren

[2022-07-04 04:34] cedric05 commented on #471
@amvanbaren
today i submitted a very small extension. i didn't run into any issues, looks like payload is the issue.

[2022-07-04 09:40] amvanbaren commented on #480
@jeanp413 It's the NGINX reverse proxy that sets the CORS headers. This issue should be moved to the https://github.com/EclipseFdn/open-vsx.org/ repository.

See the difference in the `Access-Control-Allow-Headers` and `Server` response headers:
<details>
<summary>Gitpod server instance pre-flight headers:</summary>

[code]
</details>

<details>
<summary>open-vsx.org server instance pre-flight hea

[2022-07-04 10:03] amvanbaren commented on #481
cc @open-vsx @filiptronicek

[2022-07-04 10:54] filiptronicek commented on #481
Hey there @jdneo 👋! Thanks a lot for reporting this 🙏.

This was caused by the fact that we by default only execute the `vscode:prepublish` step in the extension manifest, and it seems that for these two, the script `build-plugin` is also necessary. I have fixed that in https://github.com/open-vsx/publish-extensions/commit/1288f66f32153a7a30b231ce124c302de7e4e507 and will re-publish both extension

[2022-07-04 14:12] amvanbaren commented on #471
That's what I'm thinking too. That's also why when you publish to the VS marketplace, it tells you the URL to the published version will be available in a couple minutes (not right away).

PR #482 changes the publishing logic in the CLI. It waits until all publish processes have finished and then reports the errors it encountered, if any. You can give it a try to see if you get a clear error messa

[2022-07-04 15:12] jeanp413 commented on #481
@filiptronicek isn't the script using the github releases from them (if not, we should), I just check it contains the vsix with the jar files :thinking:

[2022-07-04 15:56] filiptronicek commented on #481
@jeanp413 didn't spend much time with this, but most likely the release was created after package.json was updated so we didn't have a release asset which would satisfy the version. The maven extension doesn't have release artifacts, so it could apply to only one.

I will check again for this though because maybe it is an issue on our side.

[2022-07-04 17:01] filiptronicek commented on #480
As this is caused by something open-vsx.org specific (thanks @amvanbaren for pointing that out), I have moved this to https://github.com/EclipseFdn/open-vsx.org/issues/1108.

[2022-07-04 17:01] #480 closed

[2022-07-04 20:42] filiptronicek commented on #481
@jeanp413 I checked again and it seems like my theory was correct - but I cannot prove it for sure. The CI run ran at about 6AM CET and the GitHub Release was at about 4 AM, so it should have consumed the `.vsix`, but the reason it didn't is most likely because the release did not have the asset at first.
Now when I try to run the script, it's quick in finding the asset:
[code]

[2022-07-05 01:15] jdneo commented on #481
Yes, I remember that the vsix is uploaded later after the github release is created.

[2022-07-05 08:53] amvanbaren commented on #473
To page even further the `search_after` parameter can be used. It is recommended to create a point in time (PIT) to return consistent results across pages, because an ElasticSearch refresh between requests can change the results order.
To make this work, the server needs to keep track of a session's or user's last query and associated PIT.

I think this can be quite a bit of work to get this right

[2022-07-05 10:03] amvanbaren commented on #474
- [X] Add a condition to `isVerified` where if the user is a privileged user, then it's always verfied.
- [ ] Update [Namespace Access](https://github.com/eclipse/openvsx/wiki/Namespace-Access) to reflect the change in the code.

[2022-07-05 10:28] #481 closed

[2022-07-05 17:04] filiptronicek commented on #473
@amvanbaren I would vote for returning an error as well (if it can output that there are too many results).

Is there a way to get this error from the Web UI or VS Code that would break the experience there? I assume not if we only have ~2000 extensions now, but eventually we will surpass 10K so I think it's worth considering.

[2022-07-06 01:11] jdneo commented on #481
Thanks for the help :)

[2022-07-08 11:09] filiptronicek opened #486 "Add disclaimer for extensions published by priviledged users"
Following #484, it would be nice to let users know that an extension they are looking at is verified because it is published by a privileged user.

I was thinking of something like this:
![image](https://user-images.githubusercontent.com/29888641/177980496-a46462a0-f489-46e6-9328-3806e54bb802.png)

If you hover on the information icon, there would be a small popup with some text. Here are some of

[2022-07-10 16:48] yogeshkumar98103 commented on #444
Can you please explain how you reaolved this. I am facing the same issue.

[2022-07-11 00:57] zlweicoder commented on #444
You need https tls works.

[2022-07-11 06:23] yogeshkumar98103 commented on #174
Facing same issue. How did you resolve this?

[2022-07-11 06:51] yogeshkumar98103 commented on #174
For anyone else facing this issue try setting following in the location block
[code]

[2022-07-11 16:14] kineticsquid opened #487 "Make available additional information on activity"
Can we get additional information about publishers and activity through the `/admin` API. I'm looking for the most active publishers, number of extensions and number of versions/updates. Also, what are the most downloaded extensions. If the number of results can be configured by a query parameter, great, but if that results in performance concerns, it's fine to have a fixed limit.

Finally, can we

[2022-07-13 04:00] adrianovieira opened #488 "Rust Extension 'rust-lang.rust-analyzer' not found."
Hi!

I am trying to install this vscode extension 'rust-lang.rust-analyzer', but it is not found (*VSCode Marketplace Gallery*[^vscode]).

[code]

[code]

But if I download a VSIX release file from this repository it works like a charm.

[code]

[code]

[code]

[code]

[^vscode]: Visual Studio Code Marketplace https://marketplace.visualstudio.com/items?itemName=rust-lang.rust-analyzer

[2022-07-13 04:19] lnicola commented on #488
We've already got publishing set up, but it's waiting for https://github.com/open-vsx/publish-extensions/issues/591: https://github.com/rust-lang/rust-analyzer/runs/7312551764?check_suite_focus=true.

[2022-07-13 19:11] filiptronicek commented on #488
@adrianovieira really sorry for the delay, as @lnicola mentioned, this is waiting for https://github.com/EclipseFdn/open-vsx.org/pull/1094 to be deployed. We are working on it!

Closing this in favor of https://github.com/rust-lang/rust-analyzer/issues/11080. Thanks for your patience.

[2022-07-13 19:11] #488 closed

[2022-07-15 10:14] amvanbaren commented on #37
Hi @benoitf,
Open VSX now has a `/vscode/unpkg` endpoint. This endpoint is used by VS Code as `resourceUrlTemplate`, but it could also be used to access the `meta.yaml` file. Would this work for you?

NOTE: the current version running at `open-vsx.org` doesn't have the `/vscode/unpkg` endpoint yet.
https://github.com/eclipse/openvsx/blob/df28c16c4d919afaf1c8795ab0dfabd842ceb6e6/server/src/main/jav

[2022-07-15 10:41] amvanbaren commented on #37
cc @nickboldt

[2022-07-15 11:44] amvanbaren commented on #314
@MarekLani, @nitisharora007 I think forking the https://github.com/open-vsx/publish-extensions repo should work for you.
You'd have to change the Open VSX url to your local instance. Configure a privileged user to publish extensions. And finally configure the extensions you want to synchronize.

[2022-07-15 17:15] kineticsquid opened #490 "Need the ability to remove a user/publisher and all data"
We need the ability to, on request, delete a user/publisher and all of their data. This can be in the form of a script or an entry on the admin panel. @amvanbaren FYI

[2022-07-16 05:10] jgrajewsky opened #491 ""Full name" for user profiles doesn't update"
I'm not sure if this is intended but the "Full name" field on my profile won't update. It still shows a pretty old one I had on GitHub when I first logged in. Revoking access on GitHub and logging again doesn't help.

[2022-07-17 14:13] Ilingu opened #492 "open-vsx: Removing a extension"
Hi! I've seen [here](https://www.eclipse.org/legal/open-vsx-registry-faq/) that if I wanted to unpublish an extension I should open an issue in this repo.

_Here the problem:_ I published my first vscode extension on the Open VSX marketplace but dumb as I am, I didn't know what a "namespace" was, so at first I just filled my extension name and published it and then I realized that a "namespace" wa

[2022-07-19 17:05] nickboldt commented on #37
cc: @svor @l0rd

[2022-07-21 17:39] amvanbaren opened #496 "Invalid mime type "api-version=6.1-preview.1""
This exception was discovered while deploying to production [eclipsefdn/helpdesk#1483 (comment)](https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1483#note_916154)
[code]
At first glance it looks like this header is sent by VS Code.

[2022-07-21 20:42] #473 closed

[2022-07-22 07:16] benz0li opened #497 "502 on e.g. https://open-vsx.org/extension/Ikuyadeu/r"

[2022-07-22 07:18] benz0li commented on #497
Also search on https://open-vsx.org is not working.

[2022-07-22 07:37] logithack commented on #497
Can confirm. It seems like there's a general problem with https://open-vsx.org/.

When clicking on the *Extensions* menu item, it keeps loading forever. In *Help* > *Toggle Developer Tools* > *Network* you can see that it's trying to access `https://open-vsx.org/vscode/gallery/extensionquery` and eventually times out with a 504.

When visiting https://open-vsx.org/ in the browser, as @benz0li has

[2022-07-22 07:44] benz0li commented on #497
And since I mention the R extension in my example: Could someone @eclipse please take care of https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330?

Thanks you.

[2022-07-22 10:46] Jolg42 commented on #497
For me, I noticed that publishing didn't work yesterday and same today, this is the current error:
[code]

<img width="944" alt="Screen Shot 2022-07-22 at 12 45 29" src="https://user-images.githubusercontent.com/1328733/180423415-637fa108-d7bb-4194-8f23-eb172c630dc5.png">
https://github.com/prisma/language-tools/actions/workflows/7_publish.yml

[2022-07-22 12:00] YvanJAquino commented on #497
I'm having the same problem as well

[2022-07-22 13:06] nickboldt commented on #497
Dropping this here just FYI, as seen on https://www.eclipsestatus.io/

![image](https://user-images.githubusercontent.com/227597/180445377-c2ca9677-dee5-4a86-a403-1f234e1a2cc2.png)

[2022-07-22 13:25] LucasHaradaTrilogy commented on #497
I've started experiencing issues about 15 hours ago, if that help you pinpoint the cause.

[2022-07-22 15:43] mikwee commented on #497
Can confirm, VSCodium cannot access Open VSX Registry.

[2022-07-23 07:34] benz0li commented on #497
Closed for now.

[2022-07-23 07:34] #497 closed

[2022-07-27 15:24] benoitf opened #498 "X-Forwarded-Host header is not working when an array or comma separated list is used"
Headers can be array values or be a single string with comma separated value

So when computing the host using `X-Forwarded-Host` it should use the first value and not the 'joined' list concatenate by a comma else it leads to invalid base URL

example:
[code]

[2022-07-27 22:44] AlexNPavel commented on #497
I am still experiencing this issue. On website I get error popups like:

[code]

and

[code]

I am getting 504s in Code OSS, so I can't install or update any extensions right now:

![image](https://user-images.githubusercontent.com/3813031/181377822-60ac58c2-ed9e-455e-905f-7ec655c3364c.png)

Trying to curl the gallery as @ibuziuk did results in a 503 error after waiting a long time:

[code]

[2022-07-28 05:34] hm2075 opened #500 "Opex-vsx server is unavailable"
its gone again

https://open-vsx.org/

[2022-07-28 14:47] meysholdt opened #501 "UI code sends high number of requests to backend."
We just had a case where the loadMore function sent excessive requests to the backend at 45 requests / second:

https://github.com/eclipse/openvsx/blob/25173d633fb5e2417f0583ef304d25ce6a9a58f0/webui/src/pages/extension-list/extension-list.tsx#L102-L134

Request example:
<img width="1333" alt="image" src="https://user-images.githubusercontent.com/239422/181564444-78a145bc-a17f-4b45-b76b-8b482ffec5e

[2022-07-28 16:58] svenefftinge opened #502 "Rate Limit API Calls"
We should add rate limiting so things like [this](https://github.com/eclipse/openvsx/issues/501) cannot tear the service down.

FWIW here's a tutorial [[1](https://www.section.io/engineering-education/implement-rate-limiting-in-spring-boot/#:~:text=Conclusion-,What%20is%20rate%2Dlimiting%3F,against%20abuse%20and%20unnecessary%20use.)]

[2022-07-28 16:58] svenefftinge commented on #501
We should also add rate limiting https://github.com/eclipse/openvsx/issues/502

[2022-07-29 05:10] akosyakov commented on #502
@amvanbaren could you take care about it as well as a follow up to yesterday incident? We can start with something like 5-10 requests per second and then see.

[2022-07-29 08:14] jakubmisek opened #503 "publishing pre-release, target-specific .vsix to open-vsx.org"
Although the following issues seem to be closed/resolved:

- https://github.com/eclipse/openvsx/issues/336
- https://github.com/eclipse/openvsx/pull/406
- https://github.com/eclipse/openvsx/issues/461

We're having trouble publishing `vsix` files with various targets to **open-vsx.org** registry.

## Setup

we're trying to publish our .vsix package (already created with
    `vsce package --pre-rel

[2022-07-29 13:27] akosyakov commented on #500
It was resolved yesterday

[2022-07-29 13:27] #500 closed

[2022-08-01 07:12] akosyakov opened #504 "Ensure that failed requests to upstream are handled gracefully."
@amvanbaren We need to test and verify that self-hosted instance is able to respond even if an upstream requests are failing, i.e with internal errors or timeouts.

[2022-08-01 07:13] akosyakov commented on #503
@amvanbaren It is implemented, but not deployed yet, correctly?

[2022-08-01 07:22] akosyakov opened #505 "Mirror mode"
We would like to mirror registry but not actual content, since storage is usually very reliable. For that we will sync periodically latest extensions based on https://open-vsx.org/sitemap.xml with ovsx. We would configure upstream to https://open-vsx.org/sitemap.xml and storage service URL to https://openvsxorg.blob.core.windows.net. [AzureBlobStorageService](https://github.com/eclipse/openvsx/blo

[2022-08-03 08:12] amvanbaren commented on #505
@akosyakov Yes, that's going to be a bit of a challenge. We need some sort of diff functionality.

@spoenemann Is this a desirable feature for the Open VSX server?

[2022-08-03 08:13] amvanbaren commented on #503
That's correct.

[2022-08-03 12:11] jakubmisek commented on #503
thank you @amvanbaren @akosyakov !

we'll wait then .. is there any ETA?

[2022-08-04 14:21] Asanio06 commented on #503
Hello, do you have any data for the next deployment? This is a feature that will bring a lot.
Thanks

[2022-08-04 15:54] ggbecker opened #506 "Extension not set to `latest` after publishing it"
As you can see in this extension, the latest version is an older version of the extension even though a newer release exists.

I can't install it from vscodium

https://open-vsx.org/extension/ggbecker/content-navigator

https://open-vsx.org/extension/ggbecker/content-navigator/1.0.3

Is that expected? I've been using the same method for publishing the extension and didn't have any problem before.

[2022-08-04 16:09] ggbecker commented on #506
I have published once again bumping the minor version and it set to `latest`, but there was definitely something shady going on, but couldn't find why.

[2022-08-04 16:09] #506 closed

[2022-08-08 16:55] phaumer opened #507 "Add REST API for directly downloading the latest version of an extension"
At the moment afaik one needs to query the REST API for metadata and assemble the url for the latest version of an extension.

In an Eclipse Che devfile/plugin a user might want to specify to always pull just the latest version and not a specific one. A Url for directly just downloading the latest would be useful: <https://open-vsx.org/api/ibm/zopeneditor/latest/file/download>

[2022-08-09 14:32] filiptronicek commented on #492
Hey there @Ilingu, thanks for reaching out. Could you please copy-paste this issue into the https://github.com/EclipseFdn/open-vsx.org repository? That's where it will reach the right people.

[2022-08-09 15:36] Ilingu commented on #492
Oh right, sorry to have disturbed you and thanks for your answer!

[2022-08-09 15:36] #492 closed

[2022-08-09 20:06] filiptronicek commented on #492
No worries, feel free to cc me in the issue if you get around to make it 🙂

[2022-08-11 14:54] spoenemann commented on #505
Yes, adding functionality to ease mirroring is definitely in scope.

[2022-08-12 06:30] akosyakov commented on #505
I think we actually figured it out by comparing order of published versions in metadata between upstream and target. If something is out of order it should be removed. I will come back when we verified it.

The real trouble which we encountered is sync of stats, like download counters, rating, reviews and so on. Not sure whether we can reuse some existing APIs for it?

[2022-08-12 11:21] amvanbaren commented on #505
@akosyakov The /api/{namespace}/{extension} endpoint returns that data, e.g. https://open-vsx.org/api/redhat/vscode-yaml
The `reviewsUrl` field points to an endpoint to retrieve all reviews. The `downloadCount` and `averageRating` fields contain the stats. The question is, how in sync should these stats be?

In `read-only` mode, should posting a review or rating be allowed?

[2022-08-12 11:29] akosyakov commented on #505
It should not be allowed, but they are should be in synced otherwise in VS Code it looks like noone is using anything.

[2022-08-12 14:36] amvanbaren commented on #505
Not really. There's an endpoint to post a review, but it uses authentication to determine the user that posted the review. We want to get reviews and keep the original user.

With these additional requirements it sounds more like a mirror mode, rather than just read-only storage.

[2022-08-12 14:46] amvanbaren commented on #505
### TODO

- [ ] Sync extension versions
- [ ] Only process metadata when publishing, don't upload files to cloud storage.
- [ ] Sync extension download count
- [ ] Disable download counting in mirrored instance
- [ ] Sync extension reviews and update average rating
- [ ] Disable review posting

[2022-08-12 15:00] akosyakov commented on #505
@amvanbaren We have a prototype of data sync here: https://github.com/gitpod-io/openvsx/blob/master/cli/src/sync.ts
@jeanp413 is looking to day how to sync download count, reviews, ratings

[2022-08-13 14:44] jakubmisek commented on #503
Thank you again.

Is there any way to check the features have been deployed on open-vsx.org?

[2022-08-15 08:25] akosyakov commented on #505
fyl @amvanbaren @jeanp413 did a prototype of mirroring download count and average rating here: https://github.com/gitpod-io/openvsx/commit/5b355c7ab5edef9d85c06da7e79672b58a10cc97

We learned that to mirror review posting we need to mirror users as well though. Not sure whether it is feasible from legal perspective. 🤷

[2022-08-15 13:15] amvanbaren commented on #505
@jeanp413

   // prepackaged extension does not allow to configure it, so we need to repackage?

You don't have to. The `pre-release` and `target` flags are only used by `ovsx` if the extension needs to be packaged. An already packaged extension has this information in its vsixmanifest.
https://github.com/eclipse/openvsx/blob/3d1bfe6ca365979a094cae79210bcf85184ce62a/cli/src/publish.ts#L37-L48

@ak

[2022-08-16 07:11] akosyakov commented on #503
Hello, unfortunately we cannot say. Last deployment did not went well and caused performance regressions. We have some optimisations in place, but we need to collect data to confirm them. Since deployment infrastructure is controlled by Eclipse Foundation we are waiting on them: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1483

[2022-08-16 09:44] lwqysu opened #510 "docker run openvsx-server error"
- Use:
   - image versions:  ghcr.io/eclipse/openvsx-server:3d1bfe6
   - linux version:CentOS Linux release 7.5.1804
- exec command:
    docker run -it -d --name openvsx-server -P -v $PWD/application.yml:/home/openvsx/server/config/application.yml openvsx-server:latest
- my application.yml
[code]
-error message
[code]
What should I do? Is there an example of deploying OPENVSX in the Docker environ

[2022-08-16 14:02] jakubmisek commented on #503
@akosyakov thank you for the update and looking forward to the next deployment.

[2022-08-17 03:23] #510 closed

[2022-08-18 08:51] zlweicoder commented on #337
Any follow up?
+1 for Keycloak!
thanks~

[2022-08-18 09:00] amvanbaren commented on #337
@zlweicoder I have a working prototype/draft for Keycloak integration. It's been a couple months since I last worked on it. I'll commit the changes and link the branch here. Maybe somebody else can pick it up.

[2022-08-18 10:43] amvanbaren commented on #337
This is the Keycloak integration branch: https://github.com/amvanbaren/openvsx/tree/feature/issue-337

[2022-08-18 14:56] amvanbaren commented on #490
@kineticsquid Script to manually delete user/publisher and all data:
[code]

[2022-08-18 15:19] kineticsquid commented on #490
Awesome! Thanks!

[2022-08-27 08:17] amvanbaren opened #514 "Add observability on endpoints"
Observability should help to gain insights in usage, errors and latencies of OpenVSX server.
Issue https://github.com/EclipseFdn/open-vsx.org/issues/713 contains more info on how to implement the feature.

EDIT: we need RED metrics to upstream (open-vsx.org) as well to know when we should escalate issues to Eclipse Foundation. If we measure only from clients or only requests to self-hosted install

[2022-08-28 23:33] filiptronicek opened #515 "Image optimalizations"
Although the images that we use in our Web UI are all SVGs and all very tiny, the user-submitted extension icons tell a different story.

This story is a horror story recounting extensions like the Vim extension which have huge icons, in Vim's case 200Kb! Having high-quality icons is something I like and can be useful to display in certain places, but on our home page, where these icons get loaded

[2022-08-28 23:45] filiptronicek commented on #515
From [Lighthouse](https://developer.chrome.com/docs/lighthouse/overview/): [[1](https://pagespeed.web.dev/report?url=https%3A%2F%2Fopen-vsx.org%2F)]
![image](https://user-images.githubusercontent.com/29888641/187099569-928815da-95f7-4f22-a87c-a23e1b879c34.png)

[2022-09-01 15:41] filiptronicek opened #518 "Server does not run in Gitpod"
When trying to start a workspace with this repo, the server task seems to not be able to connect to Postgres.

<details>
<summary>Logs</summary>

[code]

</details>

[2022-09-01 16:04] filiptronicek commented on #518
Seems to be fixed by https://github.com/eclipse/openvsx/commit/e2632256b91d5463034cc973e7f126c970359312.

[2022-09-01 16:04] #518 closed

[2022-09-01 17:15] #446 closed

[2022-09-01 18:06] #405 closed

[2022-09-01 19:12] #417 closed

[2022-09-06 07:48] #504 closed

[2022-09-06 09:37] #465 closed

[2022-09-06 09:37] #467 closed

[2022-09-06 09:59] #461 closed

[2022-09-06 10:30] #474 closed

[2022-09-06 10:55] #501 closed

[2022-09-06 11:36] #502 closed

[2022-09-06 17:02] #471 closed

[2022-09-08 00:48] claui opened #520 "Internal server error (500) when browsing the package page"
Every time I visit the page of my published package, I get:

![Pop-up message with the title _Error_ and the message: Request failed: GET https://open-vsx.org/api/claui/packaging/0.2.1/file/README.md (Status 500)](https://user-images.githubusercontent.com/1239874/189008342-a17171ef-1d64-48d0-98d6-f4a960734478.png)

This seems to be similar to #374.
However, I’m absolutely sure that I published 0.2

[2022-09-09 09:46] svor opened #521 "Failed to start server application"
After doing `./gradlew build` and `./gradlew runServer` in **openvsx/server** (as it's described in the readme), I have a next error:

<details>
  <summary>Error message</summary>

[code]

</details>

Should I do some additional steps?

[2022-09-09 11:35] benoitf commented on #521
AFAIK README is only for usage in gitpod.io. You need elasticsearch + postgresql running before for the default configuration

[2022-09-12 11:08] #521 closed

[2022-09-17 19:14] filiptronicek opened #523 "Contrast issues with the `Add User to Namespace` dialog"
The dialog has contrast issues in both dark and light modes with its animated placeholder, making it illegible.

| Theme | Unfocused | Focused |
|--|---|--|
| dark | ![image](https://user-images.githubusercontent.com/29888641/190872944-f3490793-55e7-4ec9-8a38-1cf33dd1d7b9.png) | ![image](https://user-images.githubusercontent.com/29888641/190872919-7af0be5f-7ec3-4ed0-b5af-b1bb560f6b22.png) |
| ligh

[2022-09-20 14:15] br4ch1st0chr0n3 opened #526 "Remove purs-hotkeys"
Hi! Please, remove my extension [purs-hotkeys](https://open-vsx.org/extension/br4ch1st0chr0n3/purs-hotkeys). I uploaded [purs-keybindings](https://open-vsx.org/extension/br4ch1st0chr0n3/purs-keybindings) instead.

[2022-09-21 13:46] #498 closed

[2022-09-23 08:06] amvanbaren commented on #526
Hi @br4ch1st0chr0n3, I moved your issue to the open-vsx.org repository: https://github.com/EclipseFdn/open-vsx.org/issues/1243

[2022-09-23 08:06] #526 closed

[2022-09-23 09:42] br4ch1st0chr0n3 commented on #526
Thank you, @amvanbaren!

[2022-09-23 21:35] mdesmet opened #527 "namespace innoverio"
Hi I'm the publisher of dbt Power User.

I want to claim the namespace `innoverio`.

[2022-09-26 05:20] zlweicoder commented on #172
@yuzhidi 内网环境下部署成 http的站点，vscode可以使用么？我这边也在尝试，但是一直报错。

[2022-09-26 05:23] zlweicoder commented on #172
@yuzhidi 我这边的报错信息和你上面描述的是一样的：
![image](https://user-images.githubusercontent.com/13825714/192199459-9798cd42-9f49-45e7-b12a-fd9ac95ca058.png)
请问方便分享下你的nginx设置么？怎么配置https转http，解决这个问题？
以下是我的nginx设置，这样设置不好使：
![image](https://user-images.githubusercontent.com/13825714/192199600-538627d2-5db1-4bf5-b882-07bdbbc10c5b.png)

[2022-09-26 05:45] zlweicoder commented on #174
@yogeshkumar98103
Could you please help to share all the nginx conf ?

[2022-09-27 03:30] jeanp413 opened #529 "Issues with pre-release metadata"
Reported in vscode-java
Ref: https://github.com/redhat-developer/vscode-java/pull/2587#issuecomment-1233389519

[2022-09-27 08:11] jmorcate opened #530 "Don't try to connect to ElasticSearch when it is disabled in application.yml"
I have tried to run a openvsx server container, tag f956110, My set up is:
* docker-compose.yml:
[code]
* application.yml:
[code]
 and I get the following error:
[code]

[2022-09-27 13:04] #527 closed

[2022-09-27 14:40] jmorcate commented on #530
Maybe, but it shouldn't be running. In the `application.yml` I have elasticsearch disabled:
[code]

[2022-09-28 02:48] motdotla opened #532 "Internal Server Error when accessing open-vsx.org"
I am trying to follow the instructions here: https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

I have signed all agreements - I believe. (was a confusing process of multiple websites)

I have logged into my GitHub account (motdotla) on open-vsx.org.

I am receiving the following error:

<img width="1327" alt="Screen Shot 2022-09-27 at 7 48 31 PM" src="https://user-images.githubusercon

[2022-09-28 08:39] amvanbaren commented on #532
@motdotla I tried to reproduce the issue by publishing `dotenv.dotenv-vscode-0.13.0.vsix` to a local instance, but didn't get the `Internal Server Error`. @eclipsewebmaster Can you find anything related to this issue in the logs?

[2022-09-28 09:40] Jolg42 opened #533 "Can't publish Prisma extensions: `The server responded with status 502: Bad Gateway` for stable extension and publish hangs forever for the "insider" extension"
We have 2 extensions

The first one is the stable one (https://open-vsx.org/extension/Prisma/prisma):
[See GitHub Action run](https://github.com/prisma/language-tools/actions/runs/3137816714/jobs/5096431358#step:8:15)
[code]
Which errors with `❌  The server responded with status 502: Bad Gateway`

And we have an "insider" version that correspond to our dev channel (https://open-vsx.org/extension/P

[2022-09-28 12:30] binaryben commented on #532
Happy to post in the other repo if it's open-vsx.org specific, but I've started getting internal server errors on the homepage and when accessing via Codium as well tonight.

[2022-09-28 12:55] amvanbaren commented on #532
Hi @binaryben, can you provide a bit more context:
- What url did return an internal server error?
- Which extension did you try to access?
- Any other steps to reproduce the error?

[2022-09-28 12:59] amvanbaren commented on #503
You can now publish pre-release, target-specific .vsix to open-vsx.org

[2022-09-28 12:59] #503 closed

[2022-09-28 13:07] amvanbaren commented on #533
Hi @Jolg42, the last deployment was 2 days ago, but I don't know exactly why this happens.

[2022-09-28 13:12] marccremer commented on #532
To add as I had the same Issue:
[code]

Returns an 500 error with `{"timestamp":"2022-09-28T13:09:53.850+00:00","status":500,"error":"Internal Server Error","message":"","path":"/api/-/search"}`

This happens with any and all queries in browser or codium `{"timestamp":"2022-09-28T13:05:53.747+00:00","status":500,"error":"Internal Server Error","message":"","path":"/vscode/gallery/extensionquery"}`

[2022-09-28 13:16] binaryben commented on #532
<img width="495" alt="Screen Shot 2022-09-28 at 9 11 06 pm" src="https://user-images.githubusercontent.com/12827556/192787147-65e4c701-3b9a-4c13-a633-fe7fec3f54ef.png">

Any search is returning 500 error code in Codium and I am getting the same internal error popup as @motdotla on the homepage. If left long enough, it starts changing to this:

<img width="300" alt="Screen Shot 2022-09-28 at 9 13 5

[2022-09-28 13:16] Jolg42 commented on #533
Interesting!
Note that all the failures are about the insider version hanging forever until the GitHub Actions times out except one where it's the stable extension which failed with a 502 error.

Also while it times out it seems that some versions were still published 🤔
https://open-vsx.org/extension/Prisma/prisma-insider
<img width="184" alt="Screenshot 2022-09-28 at 15 14 25" src="https://user-i

[2022-09-28 18:20] mdpe-ir opened #536 "Service Unavailable"
![image](https://user-images.githubusercontent.com/57597379/192858678-8bf6f5a4-074d-4b86-b4da-9804d59e6d8a.png)

![Screenshot from 2022-09-28 21-47-38](https://user-images.githubusercontent.com/57597379/192858832-bbb39b57-ca87-49b2-a36b-2faba0ad512e.png)
![Screenshot from 2022-09-28 21-47-22](https://user-images.githubusercontent.com/57597379/192858904-f2e303ce-ff94-4cc9-b954-2fc0653d5e95.png)
![i

[2022-09-28 20:19] #536 closed

[2022-09-29 14:24] amvanbaren commented on #529
With the latest deploy pre-release now seems to be working when publishing a new extension version.
I've added a migration that updates the `preRelease` and `preview` fields of existing extension versions.

[2022-09-29 19:44] nlvw opened #539 "https://open-vsx.org is down/non-functional"
I am still experiencing this issue. On website I get error popups like:

[code]

and

[code]

I am getting 504s in Code OSS, so I can't install or update any extensions right now:

![image](https://user-images.githubusercontent.com/3813031/181377822-60ac58c2-ed9e-455e-905f-7ec655c3364c.png)

Trying to curl the gallery as @ibuziuk did results in a 503 error after waiting a long time:

[code]

_Orig

[2022-09-29 19:47] nlvw commented on #539
Also to note https://www.eclipsestatus.io/ is correctly detecting these issues and believes https://open-vsx.org/ is fine.

[2022-09-29 22:04] h3knix commented on #539
same, 503 errors for searches and "Application is not available" displayed on login page https://open-vsx.org/oauth2/authorization/github

[2022-09-29 23:37] TheRealChssAddct commented on #539
Also experiencing this during our che-theia build process

[2022-09-30 00:25] LarsDu commented on #539
503 errors here as well.

[2022-09-30 03:28] binaryben commented on #532
It got better. Then it got much much worse 😮 Entire website is down now.

[2022-09-30 05:44] inmaldrerah commented on #539
Also experiencing this. Does this just happen today? I set up docker-code-server yesterday and, thinking it inconvenient, am setting up code-server (outside docker) today. I wonder whether it is my setup problem or the server just happens to be down today while it functions correctly yesterday.

[2022-09-30 06:08] rxfrxctxd commented on #539
Still down, also getting 503's in Code OSS/Codium

Result when I go to https://open-vsx.org/ ↓
![image](https://user-images.githubusercontent.com/104025732/193201620-feb6e8dd-25af-4cbd-8d70-9b739b0f8032.png)

[2022-09-30 06:54] amvanbaren commented on #532
Thanks for reporting this @binaryben. You can follow helpdesk issue [#2017](https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2017) for updates.

[2022-09-30 06:56] amvanbaren commented on #539
Thanks for reporting this @binaryben. You can follow helpdesk issue [#2017](https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2017) for updates.

[2022-09-30 13:40] TheRealChssAddct commented on #539
status page is manually updated? down for 10+ hrs, but doesn't affect the SLA?  hmm

![image](https://user-images.githubusercontent.com/52804257/193282031-5653b847-2c7a-4418-8d10-08cbdf1b4169.png)
no mention

[2022-10-03 07:08] rpdswtk opened #540 "Can't login to open-vsx.org"
Hi,
 I'm trying to login to open-vsx.org. After I'm authenticated through github I get an internal server error:

```{"timestamp":"2022-10-03T07:01:47.634+00:00","status":500,"error":"Internal Server Error","message":"","path":"/user"}```

[2022-10-03 13:52] filiptronicek commented on #540
@rpdswtk it seems this morning we had an outage, I just tried and it seemed that I can log in just fine, could you please try again 🙏?

[2022-10-03 13:59] rpdswtk commented on #540
Still getting the same error

[2022-10-03 15:14] filiptronicek opened #543 "Extension repository signing"
This issue is intended for discussion and tracking of implementing behavior described in https://github.com/microsoft/vscode-discussions/discussions/229 - a mechanism enabling extension signing on the server side (the marketplace) and then verifying of this signature on the client (VS Code).

I will update this PR with more resources about this feature.

[2022-10-03 15:53] DanTup opened #544 "Unable to publish "large"(16MB) extension using ovsx - "Socket hang up""
I was able to publish the (very small) Flutter extension without any issues, but I'm unable to publish the Dart one (it's about 16MB).

[code]

According to #448, the limit was 32MB, which seems almost double the size of this extension.

[2022-10-03 16:49] filiptronicek commented on #540
Great, I've let the team at Eclipse know, so we will investigate on the issue. Thanks for sticking around 😊

[2022-10-04 09:26] DanTup commented on #544
Actually, despite the error - it seems like this may have been published. I tried it again this morning and got:

And when I checked the website, it was now showing. I was able to download the vsix and unzip it, and the filesize matches, so whatever went wrong probably did so after the publish had already worked. Sorry for the noise!

[2022-10-04 09:26] #544 closed

[2022-10-05 10:11] amvanbaren opened #545 "Fix long running transactions"
### ExtractResourcesJobRequestHandler

[code]

### AzureDownloadCountService

[code]

### LocalRegistryService

[code]

[2022-10-05 10:16] amvanbaren opened #546 "Insert unique extension public id"
[code]

[2022-10-05 10:20] amvanbaren opened #547 "Retry ElasticSearch operations on connection timeout"
[code]

[2022-10-05 10:23] amvanbaren opened #548 "Fix URISyntaxException in AzureDownloadCountService"
[code]

[2022-10-05 10:25] amvanbaren opened #549 "Fix NullPointerException in AzureDownloadCountService"
[code]

[2022-10-06 13:46] yiningwang11 commented on #253
Hello, I wanted to look at this issue so I tried to reproduce this error but failed.
I created an extension for tests and inserted some emojis in the description field in the package.json file.

[code]

I wanted to publish this extension to the local instance of OVSX. Following this #https://github.com/eclipse/openvsx/issues/169 I managed to publish this extension without any problems.

[code]

If

[2022-10-07 05:29] daiyam commented on #539
The issue is back

[2022-10-08 07:07] ashwin31 opened #555 "open-vsx.org service is down"
![Screenshot from 2022-10-08 12-24-21](https://user-images.githubusercontent.com/365610/194694799-ff6d70da-1b06-437a-b829-aa935cd4e365.png)

[2022-10-08 07:09] #555 closed

[2022-10-08 07:50] bartonip commented on #539
Down again 503

[2022-10-08 20:02] christianshay opened #556 "Search is returning unusual results - search for "oracle" get any extension with tag "orange""
Hi,
I did a search for "oracle" and the results include three extensions that do not have "oracle" in any location.
I verified this occurs on open-vsx.org and also vscodium.

The extensions it finds are:
https://open-vsx.org/extension/abelfubu/abelfubu-dark
https://open-vsx.org/extension/hc/wallace-corporation
https://open-vsx.org/extension/EventHorizon/ax-theme

All three have "orange" as a tag.

[2022-10-11 06:23] amvanbaren commented on #496
No. Maybe we can log the `User-Agent`?

[2022-10-13 04:55] amvanbaren opened #557 "Use InputStream instead of byte[] for file handling"
Extension packages can be up to 512 MB and files within an extension package can be up to 32 MB.
Luckily most extensions are a couple MB or less. However `redhat.java`, `IBM.zopeneditor` or `ASF.apache-netbeans-java` are extensions that are over a 100 MB in size.

To make the server more reliable, I'd suggest to store binary content in a temp file and reading from that file in chunks instead of di

[2022-10-13 12:12] amvanbaren opened #558 "fix /api/-/search endpoint call"
- don't increase offset when the call failed.
- use (exponential) backoff when retrying the call, instead of instant retry.

[2022-10-13 18:56] kineticsquid opened #559 "Document rate limiting"
With the introduction of rate limiting in https://github.com/eclipse/openvsx/pull/509, we need to add this to API documentation: https://github.com/eclipse/openvsx/wiki/Registry-API

[2022-10-14 09:30] a5hk opened #560 "Sort by download count doesn't seem to be working correctly"
See the following picture:

![image](https://user-images.githubusercontent.com/5412540/195812926-53791d49-1ad4-41f9-9159-5ad1f5eb17a2.png)

[2022-10-19 15:16] Jolg42 commented on #533
@amvanbaren Any new info about this?

It's still happening for every publish for our project https://github.com/prisma/language-tools/actions/workflows/7_publish.yml

Could I help somehow?

Looking at recent failures, it seems that `npx ovsx publish` just keeps hanging (then hit the timeout I set in GitHub Actions) but the publishing is successful (the version is visible on the website)

[2022-10-20 06:28] amvanbaren opened #565 "Add CORS headers for `/user` endpoint"
![openvsx-user-cors-error](https://user-images.githubusercontent.com/14129099/196872522-664276be-585c-4c3c-a94f-5b03bdd94cba.png)

[2022-10-20 10:01] amvanbaren commented on #565
I had the `ovsx.webui.url` incorrectly configured. Once I changed it to localhost:3000 it works as expected.
This is not an issue that needs to be fixed.

[2022-10-20 10:01] #565 closed

[2022-10-20 19:21] rgrunber commented on #539
I was in the process of publishing an extension today and ran into :

[code]

I wanted to log in to publish manually, but the OpenVSX page looks like this currently.

![Screenshot from 2022-10-20 15-10-00](https://user-images.githubusercontent.com/1417342/197038690-87b7a153-3e3b-46df-a4a9-9612f707641e.png)

[2022-10-20 23:07] melMass opened #566 "Strange hang in CI on publish?"
Hi,

I'm adding support for OpenVSX for [Mono Workspace]()

You can see the [CI](https://github.com/mtb-tools/vscode-mono-workspace/actions/runs/3293496059/workflow) log here, I stopped it manually after 3mn of hanging:
https://github.com/mtb-tools/vscode-mono-workspace/actions/runs/3293496059/jobs/5430083539

Interestingly it seems to have worked:
<img width="416" alt="image" src="https://user-im

[2022-10-21 00:02] melMass commented on #566
Ah I now got an internal error, not all artifacts where published apparently:

https://github.com/mtb-tools/vscode-mono-workspace/actions/runs/3293761080/jobs/5430588935

[2022-10-21 07:17] mbarbero commented on #539
Note that the recent issues with the service is not due to the deployment or the infra. This is from the openvsx code itself. See https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2091 and https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2104#note_1028562 for details.

[2022-10-21 19:51] melMass commented on #539
Could #566  be linked to this issue ?

[2022-10-21 19:52] melMass commented on #533
@Jolg42 Did you ever get an answer? I think I'm experiencing the same issue in #566

[2022-10-23 06:09] shufo commented on #566
Probably Same here.

I was waiting for 3 hours for publish on CI and could not completed.
https://github.com/shufo/vscode-blade-formatter/actions/runs/3258758191/jobs/5351082009

[2022-10-23 10:58] melMass commented on #566
Ouch! Looking at the recent issues I think it's all a bit related unfortunately

[2022-10-24 18:23] amvanbaren commented on #496
Commit https://github.com/eclipse/openvsx/commit/b540859614e2315ec8ffdf4eaf407d861af8bb6f fixes this issue by updating Spring Boot to 2.7.0. With the Spring Boot update it only shows one line in the logs:
`2022-10-24 21:15:01.046  WARN 12712 --- [nio-8080-exec-8] .w.s.m.s.DefaultHandlerExceptionResolver : Resolved [org.springframework.web.HttpMediaTypeNotAcceptableException: Could not find accepta

[2022-10-25 10:30] melMass commented on #566
Not sure if there is a contributor that could help with this issue?
Its affecting other projects @spoenemann

[2022-10-28 14:32] vince-fugnitto opened #572 "bug: `https://open-vsx.org/swagger-ui/` is unavailable"
**Bug Description**

The **swagger** page (https://open-vsx.org/swagger-ui/) is currently unavailable:

![image](https://user-images.githubusercontent.com/40359487/198647069-01f2a3e0-14d1-478b-a548-2e07301c3ca0.png)

[2022-10-28 18:57] jeanp413 opened #573 "`vscode/unpkg` route broken for assets"
`vscode/unpkg` route is broken, trying to install vim extension and when `extensionWeb.js` resource gets fetched, the response is a json object as it were a directory, it should return the extension js script.

[2022-10-28 19:06] jeanp413 opened #574 "unintended vsix resource name generation changed"
@amvanbaren In https://github.com/eclipse/openvsx/pull/494 the name generation for the vsix resource changed unintentionally I presume, before it was using the `namespace.name` from the database but now is using the namespace name from vsix manifest

I think there is some normalization so for example for `Arm.remote-build` extension its vsix name was generated like `arm.remote-build-0.3.1.vsix` bu

[2022-10-28 19:53] jeanp413 commented on #574
I see that comparisons in db are case insensitive so this was just a bug since the beginning generating vsix names without lowercasing namepace and extension name :disappointed:

[2022-10-30 22:22] jeanp413 opened #575 "Extensions that work for web only cannot be downloaded from webui"
Example https://open-vsx.org/extension/arm/keil-studio-pack-web/1.1.4

![image](https://user-images.githubusercontent.com/25115070/198904393-4730424c-9ded-469b-8dc7-d0d27338b5a1.png)

[2022-10-31 06:46] #558 closed

[2022-10-31 07:39] #529 closed

[2022-10-31 08:18] #545 closed

[2022-10-31 10:06] #547 closed

[2022-10-31 10:14] #548 closed

[2022-10-31 10:34] #549 closed

[2022-10-31 13:44] #496 closed

[2022-11-01 10:51] ShamrockLee commented on #572
Duplication: https://github.com/EclipseFdn/open-vsx.org/issues/1363

It seems https://open-vsx.org/swagger-ui/index.html works.

[2022-11-02 21:03] benz0li opened #579 "Update wiki regarding extensionId conflicts when migrating to a new namespace on both VS Code Marketplace and Open VSX Registry"
According to

* https://github.com/open-vsx/publish-extensions/issues/591#issuecomment-1300636023 ff

and

* https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1034012 ff.

Thank you @filiptronicek.

[2022-11-02 21:06] benz0li commented on #579
For the sake of everyone else running into this in the future.

[2022-11-03 05:03] jeanp413 opened #580 "Corrupted metadata extension in some extensions regarding targetPlatform"
This extensions db data is corrupted somehow, the vsix manifest has targetPlatform other than universal but they show as universal in   open-vsx

[code]

This one are corrupted too somehow the `publisher` in the vsixmanifest is different from package.json `publisher`,  maybe user edited manually so we need to add a check in openvsx, and fix this extensions metadata in db manually

[code]

[2022-11-03 05:48] jeanp413 opened #581 "Extension shows in web ui but returns 500"
https://open-vsx.org/extension/astro-build/astro-vscode

[2022-11-07 09:03] damienrj opened #583 "Rest API docs broken"
I was trying to look up the API docs so I could script pulling the latest version but they are broken.
[code]

[2022-11-07 15:53] kineticsquid commented on #572
Also here: https://github.com/EclipseFdn/open-vsx.org/issues/1363

[2022-11-07 15:59] kineticsquid opened #584 "Inefficient delete extension code?"
Last week, we received some comments about 5xx's from open-vsx. The IT team noticed some delete queries that were blocking the site and whacked them, which alleviated the 5xx's. This happened about the same time I submitted a request to delete all versions of an extension (I don't recall, I think it was between 10 and 15). I've done simple wall clock measurements of deleting an extension. That tak

[2022-11-07 16:00] kineticsquid commented on #584
@spoenemann @amvanbaren

[2022-11-08 08:07] guellaeq opened #587 "Rate Limit API Calls issue when building an application"
I am currently facing an issue when building an [Eclipse Theia](https://theia-ide.org/) based application which downloads VScode extensions. I get some 429 http error when downloading those plugins at build time (more than 80 extensions).

This error only started to happen recently without much change on the application source code itself. I'm pretty sure it is related to [#509](https://github.com

[2022-11-08 08:56] amvanbaren commented on #587
cc @kineticsquid

[2022-11-08 14:34] Jolg42 commented on #533
It seems that it got better since October 24th.
https://github.com/prisma/language-tools/actions/workflows/7_publish.yml

Since then, some jobs trying to publish hit a timeout (because hanging) but it definitely got better as before it was happening for all the runs. And now it has been working perfectly since October 31st 🎊

We have a release happening today, I'll monitor that, though it will lik

[2022-11-08 14:34] #533 closed

[2022-11-09 07:38] amvanbaren commented on #583
Hi @damienrj, you can find the API docs at https://open-vsx.org/swagger-ui/index.html.

[2022-11-09 07:52] amvanbaren commented on #575
Yes, https://github.com/eclipse/openvsx/pull/406#issuecomment-1050679428

[2022-11-09 08:06] amvanbaren commented on #574
@jeanp413 Isn't the bug the other way around? You somehow got `arm.remote-build-0.3.1.vsix`, but it should've been `Arm.remote-build-0.3.1.vsix`.

[2022-11-09 12:29] jeanp413 commented on #575
It's possible to download it in MS marketplace so I think it should be the case too in open-vsx

[2022-11-09 13:37] melMass commented on #566
@amvanbaren Indeed I've seen that #533 was closed, it's on my todo list, I'll try later today or tomorrow at last, thanks for the heads up

[2022-11-09 16:35] nlvw commented on #539
No this can likely be closed.  It has intermittently happened since but not for extended periods of time.

[2022-11-09 16:35] #539 closed

[2022-11-10 07:19] amvanbaren commented on #583
@alvsan09 I've updated the wiki page.

[2022-11-10 13:17] shufo commented on #566
@amvanbaren
Thank you! it seems fixed now.

[code]

[2022-11-10 14:21] vince-fugnitto commented on #572
The wiki was updated as part of https://github.com/eclipse/openvsx/issues/583#issuecomment-1309869791.

[2022-11-10 14:21] #572 closed

[2022-11-10 14:21] vince-fugnitto commented on #583
Duplicate of https://github.com/eclipse/openvsx/issues/572.

[2022-11-10 15:24] marcdumais-work commented on #587
We are also seeing 429's in GitHub CI builds for Theia-based applications.

Is the API rate limit applicable per client IP address? If so, it might disproportionately impact builds/users behind a proxy, that will all seem to originate from the same IP.

When a similar issue happened with the GitHub API rate limit, we were able to authenticate by using a Personal Access Token during the build, and

[2022-11-10 19:18] kineticsquid commented on #587
@amvanbaren Will the approach outlined by @marcdumais-work work?

[2022-11-11 07:16] GitMensch opened #591 "time to release?"
There is currently one release - 0.1.0 from early 2021 and a cli tag-only 0.2.0 from mid 2021.

Especially for self-hosting a "download release and run" option is very useful, so could you please provide a release which is considered "stable enough"?

You likely already have one given the commonly working fine public instance.

[2022-11-11 13:27] amvanbaren commented on #587
@kineticsquid It will work, but there's currently no limit on the amount of active personal access tokens a user can have.

[2022-11-11 15:35] marcdumais-work commented on #587
AFAIK, only "publisher" PAT are available in openvsx? For the above to be a practical solution, I think we would need the ability to obtain a token that does not require signing the Eclipse Foundation publisher agreement (or enable publishing).

A basic "read-only" token would only serve to identify a user and permit applying API rate limits towards that user, instead of using the IP address as a

[2022-11-11 15:40] marcdumais-work commented on #587
@guellaeq as a mitigation you can use the following option to force your Theia application's builtin extensions to be downloaded sequentially - it seems to help in our CI:

```yarn -s download:plugins --parallel=false```

[2022-11-11 16:30] amvanbaren commented on #587
@marcdumais-work You need to sign the Eclipse publisher agreement to be able to create a namespace or publish an extension.
https://github.com/eclipse/openvsx/blob/95d53c3f42c3d13e393ba4e6055acfcf700bcffa/server/src/main/java/org/eclipse/openvsx/LocalRegistryService.java#L422-L428
https://github.com/eclipse/openvsx/blob/95d53c3f42c3d13e393ba4e6055acfcf700bcffa/server/src/main/java/org/eclipse/open

[2022-11-11 16:36] marcdumais-work commented on #587
Here's what I see:
![image](https://user-images.githubusercontent.com/25749063/201386891-8c816f0d-9fc1-4641-8f1d-eb01d1ac7253.png)

[2022-11-11 16:44] kineticsquid commented on #587
@mmatthewkhouzam FYI...

[2022-11-11 16:45] amvanbaren commented on #587
Ah, oke. There's a check in the webui:
https://github.com/eclipse/openvsx/blob/95d53c3f42c3d13e393ba4e6055acfcf700bcffa/webui/src/pages/user/user-settings-tokens.tsx#L120-L131

I think we can remove this. Just have to make sure to check for a valid publisher agreement when a publishing operation is performed.

[2022-11-11 17:51] MatthewKhouzam commented on #587
Hey, I was just mulling an idea: could we have a separate vsx for bots... something with awful (10 minute) timeouts... and a token so only member projects can use it. I think VSX is owned by CDT, it would be interesting to separate the robots from the humans.

[2022-11-12 19:21] akosyakov opened #594 "improve search in VS Code"
Right now sometimes it returns seemingly irrelevant or unpopular things first. Example of search for `GitHub`:
<img width="887" alt="Screenshot 2022-11-12 at 20 16 48" src="https://user-images.githubusercontent.com/3082655/201491019-4510c9b4-3108-4bc5-97f9-6df4567af8be.png">

I would expect to see extensions with GitHub in name or description with high download count and rating at the top. Right n

[2022-11-12 19:25] akosyakov commented on #556
maybe related to https://github.com/eclipse/openvsx/issues/594

[2022-11-14 07:16] amvanbaren commented on #591
The [upcoming release](https://github.com/EclipseFdn/open-vsx.org/pull/1405) is again based off of the eclipse/openvsx master branch. There's probably some issues that need to be resolved, but after that a 0.2.0 release can be created.

cc @kineticsquid

[2022-11-14 07:40] amvanbaren commented on #580
The CLI supported target platforms before open-vsx.org did. I'll add a migration to reprocess the packages.
@jeanp413 Can you share the script/code that you used?

[2022-11-14 08:13] amvanbaren opened #595 "Contrast issues with extension dependencies"
![Schermafbeelding 2022-11-14 om 10 12 40](https://user-images.githubusercontent.com/14129099/201608500-23d78263-24b8-4607-a675-22e89dd318b9.png)

[2022-11-14 10:39] amvanbaren opened #598 "Download can't be found for some extension versions"
[code]

[2022-11-14 10:41] amvanbaren commented on #598
I'll add logging to get more info about this issue.
And a null check, so that the request doesn't fail.

[2022-11-14 11:10] guellaeq commented on #587
In the CI context, I'm not sure that a PAT will be sufficient to avoid all errors in case of peak load. At least, it would differentiate calls made by other developers from CI calls.

[2022-11-14 13:41] filiptronicek opened #599 "User extensions view lists duplicate extension values in user dashboard"
This should only display 2 extensions for me.

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/29888641/201674723-1de9b6d7-73fc-4e3d-a7f2-4541d83b0abb.png">

[2022-11-14 13:58] #598 closed

[2022-11-14 14:24] filiptronicek commented on #599
To be more specific, the problem lies in the fact that https://open-vsx.org/user/extensions returns duplicate records.

[2022-11-14 15:18] filiptronicek commented on #575
Seems that actually downloading web extensions from MSM does not work, but it shows in the available platforms. Maybe we can provide support for downloading web extensions as well? I don't see how it could be bad to give users the choice. cc @jeanp413 @amvanbaren

![image psd(22)](https://user-images.githubusercontent.com/29888641/201694436-de124315-6bd5-42bf-9469-773186fc4b8b.png)

It also seems

[2022-11-14 15:21] amvanbaren commented on #575
@filiptronicek PR #596 enables downloading web extensions

[2022-11-14 15:43] filiptronicek commented on #575
Thanks! Will review

[2022-11-14 16:47] amvanbaren commented on #587
@kineticsquid I don't know. What you propose is a complete new process.

[2022-11-14 18:04] MatthewKhouzam commented on #587
Depends on your decision as you own the product. I would say a tiered approach is not bad. Focus on the paying customers first and all.

[2022-11-14 19:25] jeanp413 opened #601 "Improvements in idService"
It's possible for upstream id service to fail fetching the public uuid of an extension, and then it will generate a random uuid, we should try to always have the correct uuid from upstream

[2022-11-15 02:00] ModyQyW opened #603 "Allow to deprecate extensions"
Hi. I wonder is there a way to deprecate extensions?

[2022-11-15 07:17] #575 closed

[2022-11-15 07:43] amvanbaren commented on #603
Hi @ModyQyW,
That's a good question. Not that I'm aware of.
I'll ask in the [EclipseFdn/open-vsx.org](https://github.com/EclipseFdn/open-vsx.org) repository.

[2022-11-15 07:48] ModyQyW commented on #603
Thank you. I am closing this one.

[2022-11-15 07:48] #603 closed

[2022-11-15 07:58] amvanbaren commented on #581
Something went wrong when publishing versions `0.28.2` and `0.28.1` of `astro-build.astro-vscode`. The server can't find the downloads for those versions. `0.29.0` was released today and has downloads for all target platforms.

cc @Princesseuh @matthewp

[2022-11-15 08:35] amvanbaren opened #604 "AzureDownloadCountService transactions still take too long"
AzureDownloadCountService still triggers a connection leak detected exception on every run.
The connection is returned to the pool at the end of the run. The transaction just takes too long.

[2022-11-15 14:43] jeanp413 commented on #581
So the download resource is not in the db and it wasn't uploaded to azure?

[2022-11-15 15:21] #604 closed, assigned to amvanbaren

[2022-11-15 16:40] kineticsquid commented on #587
Well my desire would be to keep this as simple as possible :).  Let's assume we have a manual process for generating these bot keys for work group member companies. This bot access key would have a different set of rate limiting constraints. What would those constraints need to be? Where would this token live?

[2022-11-15 19:28] oboxer opened #606 "Add support for Azure AD token authentication for storage account"
### Description

Currently, [SAS token](https://github.com/eclipse/openvsx/blob/master/server/src/main/java/org/eclipse/openvsx/storage/AzureBlobStorageService.java#L36) is the only way to authenticate azure storage account. We'd like to add support for [Azure AD token authentication](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity).

### Use case/motivation

Our

[2022-11-16 09:06] #599 closed

[2022-11-16 09:21] amvanbaren commented on #606
Hi @oboxer,
I think adding the option to authenticate with an Azure AD token has a clear use case. There are probably other organizations that can benefit from this feature, so please do submit a PR!

I haven't looked into Azure AD tokens myself. @spoenemann have you tried Azure AD tokens but decided not to implement them due to problems/issues?

cc @kineticsquid @akosyakov

[2022-11-16 09:42] #573 closed

[2022-11-16 10:20] spoenemann commented on #606
No I haven't looked into that. I just followed the approach that was documented by Microsoft at that time (summer 2020).

[2022-11-16 14:14] #559 closed

[2022-11-17 07:28] amvanbaren opened #608 "Not all search results are shown"
@filiptronicek in https://github.com/eclipse/openvsx/pull/597#pullrequestreview-1183419596: "Interesting that only 13/23 extensions are shown on the home page 🤔."

<details>
<summary>Details</summary>

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/29888641/202308504-3e82e707-5c27-4c8b-8f5b-38e142f667ed.png">

[code]

</details>

[2022-11-17 07:38] amvanbaren opened #609 "Prevent any unexpected side effects in webui"
Use `event.preventDefault` in webui event handlers to prevent any unexpected side effects.

[2022-11-17 07:42] #560 closed

[2022-11-17 11:04] akosyakov commented on #594
Example for Java: no java lang, debug, test, pack, maven and so on extensions at the top.
<img width="504" alt="Screenshot 2022-11-17 at 12 04 05" src="https://user-images.githubusercontent.com/3082655/202429895-c11c5176-d6b7-4ecd-9c6d-11d8dca62805.png">

[2022-11-17 12:28] amvanbaren opened #610 "/api/-/search long running transaction"
[code]

[2022-11-18 12:49] filiptronicek opened #613 "Reviews don't appear right away leading to a confusing user flow"
When a user posts a review, the review page does not immediately reflect the new state (it does not show the user's review). This leads to the user questioning whether the review has even been posted successfully and they try again, because the <kbd>Write a Review</kbd> button is still there and clickable.

Even after waiting for multiple minutes, the review is still not shown.

<img width="1920"

[2022-11-18 18:23] kineticsquid commented on #487
@amvanbaren What can we expect for the additional information from what time periods? I can see the result keys:     `'topMostActivePublishingUsers', 'topNamespaceExtensions', 'topNamespaceExtensionVersions', 'topMostDownloadedExtensions'`. But I'm seeing empty result sets for all months prior to the current. The calls to the `/admin/report` API return pretty quickly. For the current month, `'http

[2022-11-21 08:23] amvanbaren opened #615 "Add error handling to webui extension publishing code"
Don't create namespace when the namespace name is null/undefined/empty or literally 'undefined'.
https://github.com/EclipseFdn/open-vsx.org/issues/1411

[2022-11-21 10:24] amvanbaren commented on #487
@kineticsquid Reports for past months are stored in the database for efficiency, because the data is final. You can ask @eclipsewebmaster to empty `admin_statistics` and related tables:
[code]

The queries are probably slow. I'll run explain queries to get the lookup strategy and query cost to further optimize them.

[2022-11-21 10:39] #595 closed

[2022-11-21 14:19] #431 closed

[2022-11-21 19:19] damienrj commented on #583
Thanks

[2022-11-21 19:19] #583 closed

[2022-11-22 07:48] amvanbaren opened #617 "webui extension publishing improvement"
💡 `#1` a nitpick I though of is that when an error like this one happens (an error with the package, not our service), we could reset the input so that the file does not display anymore. Something for later maybe :)

💡 `#2` We could also add a heads up when this flow has created a namespace, or, maybe even better, before it would have created the namespace display a prompt asking the user whether

[2022-11-22 07:49] #615 closed

[2022-11-22 08:36] amvanbaren commented on #613
### TODO

- [ ] Refresh reviews after user successfully posted a review.
- [ ] Make sure new review is included.
- [ ] Make sure `Write a review` button is disabled.

[2022-11-22 08:36] amvanbaren commented on #613
@yiningwang11 Can you pick up this issue?

[2022-11-22 08:45] zWingz opened #618 "Can't search @category:"language packs" correctly in Code - OSS"
<img width="427" alt="image" src="https://user-images.githubusercontent.com/13031838/203267227-a1d8317f-26f7-4c26-b98d-4eb2d7b28f75.png">

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/13031838/203267292-5c52c3b6-3bec-47b7-a344-f476b03226e7.png">

[2022-11-22 08:58] amvanbaren commented on #587
@kineticsquid We can add the `premium` role to users. Users with the `premium` role can make a higher number of requests per second than regular users. This requires a database lookup to find the user that is associated to the token. The database query can slow down the request rate. It might be better to use [JWT](https://jwt.io/) as token implementation, because it lets you define claims as part

[2022-11-22 09:04] amvanbaren commented on #581
Yes, something went wrong while processing file resources.

[2022-11-22 09:07] amvanbaren commented on #532
@motdotla @binaryben @marccremer Is this still an issue?

[2022-11-22 09:11] binaryben commented on #532
Thanks @amvanbaren, it seems to be operating normally again for me

[2022-11-22 09:15] amvanbaren commented on #520
Hi @claui, https://open-vsx.org/api/claui/packaging/0.2.1/file/README.md no longer fails. https://open-vsx.org/extension/claui/packaging works as expected.

[2022-11-22 09:15] #520 closed

[2022-11-22 09:16] claui commented on #520
Thanks @amvanbaren!

[2022-11-22 09:38] amvanbaren commented on #507
It's already possible to get a file by using version aliases (`latest`, `pre-release`), but you still need to know the version for the file name. We can use file types as `fileName` path parameter (`download`, `manifest`, `icon`, `readme`, `license`, `changelog`), excluding `resource` and find the file that way.

### TODO
- [ ] if `fileName` is a file type, find resource by type (instead of name).

[2022-11-22 09:43] amvanbaren commented on #490
@kineticsquid Can we close this issue?

[2022-11-22 09:49] amvanbaren commented on #468
# Reminder:
### TODO
- [x] Fix file type detection
- [ ] Re-upload all incorrect `text/plain` files
- [ ] Re-upload all *.vsix packages

[2022-11-22 10:00] amvanbaren commented on #456
@jeanp413 When I run
[code]
the response no longer contains web resources.
[extensionquery.json.txt](https://github.com/eclipse/openvsx/files/10066229/extensionquery.json.txt)

[2022-11-22 10:00] #456 closed

[2022-11-22 10:03] amvanbaren commented on #447
Hi @janstieler, did you manage to publish your extension?

[2022-11-22 10:54] amvanbaren commented on #363
Something like this:
![open-in-editor-btn](https://user-images.githubusercontent.com/14129099/203295484-ffe0827c-ac6b-4655-ae2c-a4291abd8a9a.png)

We can add a user setting or use a cookie to store the user's preferred editor.

[2022-11-22 10:59] amvanbaren commented on #352
Hi @ewanharris, did you manage to transfer the ownership of the extension?

[2022-11-22 11:00] zWingz commented on #618
as same sa `@tag:lp-zh-cn`
<img width="491" alt="image" src="https://user-images.githubusercontent.com/13031838/203297625-3b78f512-b3c5-4c25-9b39-763d03ffef59.png">

[2022-11-22 11:01] amvanbaren commented on #338
@felipecrs PR #437 is running in production.

[2022-11-22 11:01] #338 closed

[2022-11-22 11:03] #312 closed

[2022-11-22 11:06] ewanharris commented on #352
Hey @amvanbaren, we ended up just unpublishing the initial extension and then publishing a new one with a different name. Not ideal as we lost all the initial installs, but we added some migration steps and waited some time before unpublishing the initial extension

[2022-11-22 11:11] amvanbaren commented on #311
@ShamrockLee could this issue be a duplicate of https://github.com/eclipse/openvsx/issues/543?

[2022-11-22 11:15] #245 closed

[2022-11-22 11:19] amvanbaren commented on #241
Current python version is [2022.18.2](https://open-vsx.org/extension/ms-python/python)

[2022-11-22 11:19] #241 closed

[2022-11-22 11:21] marccremer commented on #532
works.
Thanks @amvanbaren

[2022-11-22 11:23] #231 closed

[2022-11-22 11:27] amvanbaren commented on #8
@kineticsquid Do you think this issue is still relevant?

[2022-11-22 12:15] Princesseuh commented on #581
Hey, sorry if this is something that happened on our end.

Our CI logs for both of these releases on OpenVSX are all green and show no issues, so we didn't catch this (also, none of our users reported it)

[2022-11-22 19:36] kineticsquid commented on #8
@amvanbaren Good question. @spoenemann @chrisguindon?

[2022-11-22 19:36] #490 closed

[2022-11-22 19:43] kineticsquid commented on #487
@amvanbaren Not sure I understand the purpose of the `DELETE` statements. Are they going to cause the stats for previous periods to be re-generated?

[2022-11-22 21:04] chrisguindon commented on #8
@kineticsquid I would say yes. This feature request would help solve my recommendation that I posted on https://github.com/EclipseFdn/open-vsx.org/issues/1240#issuecomment-1305597304

[2022-11-23 02:18] zWingz opened #619 "Missing property `LocalizedLanguages` in vscode-language-pack-zh-hans ext"
This is from open-vsx
<img width="823" alt="image" src="https://user-images.githubusercontent.com/13031838/203457472-85d005ea-a23e-4c36-9a67-fe69f6ffe1cf.png">

This is from vscode marketplace

<img width="846" alt="image" src="https://user-images.githubusercontent.com/13031838/203457553-79e61a27-b18b-4917-a0f6-503c821476d2.png">

[2022-11-23 08:48] amvanbaren commented on #487
Yes, the delete statements cause the stats to be re-generated including the new stats.

[2022-11-23 13:43] amvanbaren commented on #619
Hi @zWingz, thanks for reporting this issue.
The LocalizedLanguages property is currently not extracted from the `extension.vsixmanifest` by the `ExtensionProcessor`.

[2022-11-23 15:23] #371 closed

[2022-11-24 14:28] ShamrockLee commented on #311
@amvanbaren That depends on the implemented API and the availability of  the veerification key.

The main use case of the SHA256/SHA512 hash fetching feature is to be able to programmatically construct a JSON file associating each extension with their hashes to satisfy the *reproducibility* requirement of Nix.

It would definitely be a plus to be able to verify the integrity of the hash itself thr

[2022-11-25 21:20] marcdumais-work commented on #587
Starting in Theia v1.32.0 released yesterday, the download of built-in extensions will be sequential by default. This should mitigate the triggering of openvsx API limit when Theia-based applications are build, for example during CI.

https://github.com/eclipse-theia/theia/pull/11860/files#diff-11e38961bd54fcce86babf5ea40cf9bf4538cb2f519763c8fa7a897e94c35f71

[2022-11-28 11:34] amvanbaren commented on #587
Ok, so this issue can be closed?

[2022-11-28 12:53] guellaeq commented on #587
In case of multiple builds in parallel, I'm not sure the sequentialization of the download will be enough. I work with a multi repo environment, where each new feature will trigger a Theia build. All this behind one single IP/user. Maybe it will be a temporary fix, but in the end, this issue can come back during peak loads on CI.

[2022-11-28 19:27] kineticsquid commented on #587
If I'm reading the `.yml` file correctly,
- `/api/(?!(.*/.*/review(/delete)?)|(-/(namespace/create|publish))).*` is set for 15 calls/sec?
- `/vscode/asset/.*/.*/.*/Microsoft.VisualStudio.Services.Icons.Default` is set for 75 calls/sec?

Once that is exceeded, where does the wait period get specified?

[2022-11-28 20:56] tjx666 opened #626 "Cannot find module 'semver'"
<img width="935" alt="image" src="https://user-images.githubusercontent.com/41773861/204379146-7a8438cf-0583-4e34-97c2-fe2f1d8dd8ea.png">

[2022-11-29 09:35] amvanbaren commented on #587
If a client does 15 calls in the first 15 ms, then the client has to wait for 985 ms. There's no additional wait or timeout.

[2022-11-29 09:46] amvanbaren commented on #626
Hi @tjx666, I see you're using pnpm. You can try the `--yarn` flag to make publishing work. Related issue: https://github.com/eclipse/openvsx/issues/368

[2022-11-29 11:17] tjx666 commented on #626
It works:

![image](https://user-images.githubusercontent.com/41773861/204515433-1eaf961c-3c76-42b4-bf3d-9f1bef526517.png)

[2022-11-29 11:18] tjx666 commented on #626
It works:

![image](https://user-images.githubusercontent.com/41773861/204515569-af532928-b759-4096-9552-69569c0ff5b2.png)

[2022-11-29 11:28] #626 closed

[2022-11-29 16:42] guddu121 commented on #337
Hi There,

Is there any plan to merge the keycloak branch with openvsx and there are lot of dependencies and changes has been done. If someone can pick do it then would be great.

[2022-11-29 16:46] guddu121 commented on #337
HI Amvanbaren,

I want to know any plan in coming days to integrate the branch with keycloak support into openvsx

[2022-11-29 22:44] oboxer commented on #606
Thanks! Will submit a PR when ready.

[2022-11-30 01:18] kineticsquid commented on #487
@amvanbaren I tried this API call again and this time let it run.
[code]

I sort of lost track, but it took about 20 minutes or so before it returned
[code]

[2022-11-30 09:40] amvanbaren commented on #337
Hi @guddu121, no there are currently no plans to merge the keycloak branch with openvsx. AFAIK this feature is still a prototype/draft. @zlweicoder did you work on keycloak integration?

[2022-11-30 10:00] #313 closed

[2022-11-30 21:48] krithika2689 commented on #337
Hi @amvanbaren @zlweicoder ,